<div class="login">
  <img src="/assets/main/log.png" class="title-logo">
  <div class="sns-login-area">
    <a href="<%=user_omniauth_authorize_path(:linkedin)%>"><div class="sns-login linkedin"><img src="/assets/main/log_linkedin.png">Login with Linkedin</div></a>
    <a href="<%=user_omniauth_authorize_path(:facebook)%>"><div class="sns-login facebook"><img src="/assets/main/log_facebook.png">Login with Facebook</div></a>
  </div>
  <h3>or</h3>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div>
    <%= f.email_field :email, autofocus: true, placeholder: "Email" %></div>

    <div>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %></div>

    <% if devise_mapping.rememberable? -%>
      <div class="remember"><%= f.check_box :remember_me, class: "check" %> <%= f.label :remember_me %></div>
    <% end -%>

    <div class="log-btn"><%= f.submit "LOG IN" %></div>
  <% end %>

  <p>Don'ts have an account?</p>
  <%= render "users/shared/links" %>
</div>
