<div class="login">
  <img src="/assets/main/log.png" class="title-logo">
  <div class="sns-login-area">
    <div class="sns-login linkedin">Login with Linkedin</div>
    <div class="sns-login facebook">Login with Facebook</div>
  </div>
  <h3>or</h3>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :value => params[:email] %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div class="log-btn"><%= f.submit "LOG IN" %></div>
  <% end %>

  <p>Don'ts have an account?</p>
  <%= render "users/shared/links" %>
</div>