<div class="login">
  <a href="/home/main.html"><img src="/assets/main/log.png" class="title-logo"></a>
  <div class="sns-login-area">
    <a href="<%=user_omniauth_authorize_path(:linkedin)%>"><div class="sns-login linkedin"><img src="/assets/main/log_linkedin.png">Login with Linkedin</div></a>
    <a href="<%=user_omniauth_authorize_path(:facebook)%>"><div class="sns-login facebook"><img src="/assets/main/log_facebook.png">Login with Facebook</div></a>
  </div>
  <h3>or</h3>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div>
    <%= f.email_field :email, autofocus: true, placeholder: "Email", required: true %></div>

    <div>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password", required: true %></div>

    <% if devise_mapping.rememberable? -%>
      <div class="remember"><%= f.check_box :remember_me, class: "check" %> <%= f.label :remember_me %></div>
    <% end -%>

    <div class="log-btn"><%= f.submit "LOG IN" %></div>
  <% end %>

  <div class="login-foot">
    <p>Don't have an account?</p>
    <a href="/users/sign_up"><h5>Sign up</h5></a>
    <a href="/users/password/new"><h5>Forgot your password?</h5></a>
  </div>
</div>
