<div class="account">
  <div class="container">
    <%=render "/home/left"%>
    <div class="right-billing">
      <h1>Billing</h1>
      <form action="/advertisers/add_credit" method="post">
      <div class="sub-title">
        <h3>Current Jugggle Credit : <span><%=number_to_currency(@user.credit, precision: 0)%></span></h3>
        <div class="sub-title-left">
          <p>Add Credit</p>

            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
            <input type="text" class="add" placeholder="$" name="amount">
            <div class="checkout-btn" data-toggle="modal" data-target="#Checkout-Now">Checkout Now</div>
        </div>
      </div>
      </form>
      <table>
        <tr class="table-header">
          <td>Date Invice</td>
          <td>Details</td>
          <td>Payment Method</td>
          <td>Amount</td>
          <td>Invoice</td>
        </tr>
        <%@billings.each do |billing|%>
        <tr class="table-body">
            <td><%=billing.date.to_s[0..3]%>.<%=billing.date.to_s[5..6]%>.<%=billing.date.to_s[8..9]%></td>
            <td><%=billing.detail%></td>
            <td><%=billing.payment_method%></td>

            <td class="<%if billing.status == 0%><%elsif billing.amount < 0%>font-big<%else%>font-sm<%end%>">
              <%if billing.status != 0%>
                <%=number_to_currency(billing.amount, precision: 0)%>
              <%else%>
                Pending...
              <%end%>
              
            </td>
            <td class="invoice">View</td>
          </tr>
        <%end%>
      </table>
        <%= paginate @billings %>
    </div>
  </div>
</div>






<!-- Checkout-Now Modal -->
<div class="modal fade" id="Checkout-Now" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-Checkout-Now">
    <div class="modal-content modal-Checkout-Now">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1>Cash Out Information</h1>
        <h3 class="sub-title">Please insert the accurate bank information.</h3>
        <p>Account Number
          <input type="text" placeholder="40907653304010">
        </p>
        <p>SWIFT Code
          <input type="text" placeholder="IBKOKRSEXXX">
        </p>
        <p>Beneficiary Name
          <input type="text" placeholder="Jungggle Inc.">        
        </p>
        <p>Baneficiary Address
          <input type="text" placeholder="401 Seodo-building 1712-8 Seocho-dong Seocho-gu, Korea">
        </p>
        <p>Bank Name
          <input type="text" placeholder="INDUSTRIAL BANK OF KOREA">
        </p>
        <p>Bank Address
          <input type="text" placeholder="50 ULCHIRO 2-GA, CHUNG-GU Seoul, Korea">
        </p>
        <h5>Your Cash Out fee is : $0<br>for more terms, please check it in <a href="#none">here.</a></h5>
        <button type="button" class="btn" data-toggle="modal" data-dismiss="modal" data-target="#Modal-add-credit">Cash Out</button>
      </div>
      <div class="modal-footer">
        <h5>1. We cash out via wire transfer every <span>Friday.</span></h5>
        <h5>2. All wire transfers are in US Dollars.</h5>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- add-credit-Modal -->
<div class="modal fade" id="Modal-add-credit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-add-credit">
    <div class="modal-content modal-add-credit">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1>Add Credit</h1>
        <h3>CheckOut Amout : <span>10,000USD</span></h3>
        <p>
          Add credit allows only Wire Transfer.<br>You can find the invoice on Billing History after the CHECKOUT.
          <br><br>If the name of sender is different from the name on "Company Profile", <br>please let us know support@jungggle.com 
        </p>
        <input type="checkbox" class="checkbox"><h5>I have read and agree with the <span>terms</span> and the <span>privacy policy</span></h5>
        <P>1. Remittance charge (Bank transfer fee : about $18) must be paid from the Sender, not from the Beneficiary.</P>
        <p>2. Dfsdfsdfsdfs</p>
        <p>3. asdfasdfasdf</p>        
      </div>
      <button type="button" class="btn btn-b" data-dismiss="modal">CHECKOUT NOW</button>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

