<div class="account">
  <div class="container">
    <%=render "/home/left"%>
    <div class="right-billing">
      <h1>Billing</h1>
      <form action="/advertisers/add_credit" method="post">
      <div class="sub-title">
        <h3>Current Jugggle Credit : <span><%=number_to_currency(@user.credit, precision: 0)%></span></h3>
        <div class="sub-title-left">
          <p>Add Credit</p>

            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
            <input type="text" class="add" placeholder="$" name="amount">
            <input type="submit" class="btn btn-default" value="Checkout Now">
        </div>
      </div>
      </form>
      <table>
        <tr class="table-header">
          <td>Date Invice</td>
          <td>Details</td>
          <td>Payment Method</td>
          <td>Amount</td>
          <td>Invoice</td>
        </tr>
        <%@billings.each do |billing|%>
        <tr class="table-body">
            <td><%=billing.date.to_s[0..3]%>.<%=billing.date.to_s[5..6]%>.<%=billing.date.to_s[8..9]%></td>
            <td><%=billing.detail%></td>
            <td><%=billing.payment_method%></td>

            <td class="<%if billing.status == 0%><%elsif billing.amount < 0%>font-big<%else%>font-sm<%end%>">
              <%if billing.status != 0%>
                <%=number_to_currency(billing.amount, precision: 0)%>
              <%else%>
                Pending...
              <%end%>
              
            </td>
            <td class="invoice">View</td>
          </tr>
        <%end%>
      </table>
        <%= paginate @billings %>
    </div>
  </div>
</div>
