<div class="account">
  <div class="container">
    <%=render "/home/left"%>
    <div class="right-member right-height">
      <h1>Manage Companies</h1>
    
      <table>
        <tr class="table-header">
          <td>Logo</td>
          <td>Name</td>
          <td>Owner</td>
          <td>Edit Profile</td>
          <td>Edit Members</td>
          <td>
            상품 수
          </td>
          <td>
            Delete Company
          </td>
        </tr>
      
        <%@company.each do |company|%>
        <tr class="table-body">
          <td><img src="<%=company.logo.url(:thumb)%>"/></td>
          <td><%if company.comlangs.count != 0%><%=company.comlangs.first.name%><%end%></td>
          <td><%if company.members.count != 0 && company.members.where(:owner => true).first.user != nil%><%=company.members.where(:owner => true).first.user.email%><%end%></td>
          <td>
            <a href="/manages/company_profile/<%=company.id%>">Profile</a>
          </td>
          <td>
            <a href="#">Members</a>
          </td>
          <td>
            <a href="/manages/delete_company/<%=company.id%>">DELETE</a>
          </td>
          <td>
            <%=company.products_count%>
          </td>
        </tr>
        <%end%>
      </table>
    </div>
  </div>
</div>





