<div class="account">
  <div class="container">
    <%= render "/home/left"%>
    <div class="right-manage-service right-height">
      <h1>Jungggling 분석 for Admin</h1>
      <br>
      <form action="/manages/jungggling" method="get" >

        기간<input type="date" name= "from_date">부터 
        <input type="date" name="to_date">까지
        <input type="submit" value="기간 검색">
      </form>
      <div class="sub-title">
        <h3>국가-마케팅타입 필터 검색 순위</h3>
      </div>

      <table>
        <tr class="table-header">
          <td>
            Country
          </td>
          <td>
            Total
          </td>
          <td>
            Marketing type
          </td>
          <td>
            Count
          </td>
        </tr>
        <tr class="table-body">
          <%all_count = 0 %>
          <%@country_marketing.each do |cm|%>
            <%country = cm[0]%>
            <%cm_count = 0%>
            <%cm[1].each do |marketing_array|%>
              <%marketing = marketing_array[0]%>
              <%count = marketing_array[1] %>
              <tr class="table-body">
                <%if cm_count == 0%>
                  <td rowspan="<%=cm[1].count%>">
                    <%if all_count == 0%>
                      <%=country["name"]%>
                    <%else%>
                      <%=country.name%>
                    <%end%>
                  </td>
                  <td rowspan="<%=cm[1].count%>">
                    <%if all_count == 0%>
                      <%=country["searchings_count"]%>
                    <%else%>
                      <%=country.searchings_count%>
                    <%end%>
                  </td>
                  <%all_count = 1%>
                  <%cm_count = 1%>
                <%end%>
                <td>
                <%if marketing.parent_type != nil%>
                  <%if marketing.parent_type.parent_type != nil%>
                    <%if marketing.parent_type.parent_type.parent_type != nil%>
                      <%=marketing.parent_type.parent_type.parent_type.name%> /
                    <%end%>
                    <%=marketing.parent_type.parent_type.name%> /
                  <%end%>
                    <%=marketing.parent_type.name%> /
                  <%end%>
                  <%=marketing.name%>
                  
                <td>
                  <%=count%>
                </td>
              </tr>
            <%end%>
          <%end%>
        </table>

        <h3>마케팅타입별 검색순위</h3>
        <table>
          <tr class="table-header">
            <td>
              Marketing Type
            </td>
            <td>
              Count
            </td>
          </tr>

          <%Marketingtype.where.not(:searchings_count => 0).each do |marketing|%>
            <tr class="table-body">
              <td>

                <%if marketing.parent_type != nil%>
                  <%if marketing.parent_type.parent_type != nil%>
                    <%if marketing.parent_type.parent_type.parent_type != nil%>
                      <%=marketing.parent_type.parent_type.parent_type.name%> /
                    <%end%>
                    <%=marketing.parent_type.parent_type.name%> /
                  <%end%>
                    <%=marketing.parent_type.name%> /
                  <%end%>
                  <%=marketing.name%>

              </td>
              <td>
                <%if @date_nil%>
                  <%=marketing.searchings_count%>
                <%else%>
                  <%=marketing.searchings.where("created_at >= ? AND created_at <= ?", DateTime.parse(@from_date), DateTime.parse(@to_date) + 1.day).count%>
                <%end%>
              </td>
            </tr>
          <%end%>
        </table>
    </div>
  </div>
</div>
