
<script>
  

  var now_lang = 0;
  function languagebox(lang){
    var lang_nick = lang.getAttribute("data-nickname");
    var lang_id = lang.getAttribute("data-language");

    $("#selected_languages").append("<div class='language-select selected-languages' id='language-select-" + lang_id + "' onclick='language_click(" + lang_id + ");'>" + lang_nick + " &nbsp;&nbsp; <span onclick='languagedelete(this); return false;' data-delete='" + lang_id + "'>X</span></div>");

    $(".p_language_" + String(lang_id)).css('display', 'none');
    $(".trigger").trigger("click");
    $('.popover').hide();
    $("#check_" + lang_id).attr("checked", true);
    language_click(lang_id);
    return false;
  }

  function languagedelete(lang){
    var lang_id = lang.getAttribute("data-delete");
    $(".p_language_" + String(lang_id)).css('display', 'inline-block');
    $(lang).parent().remove();
    $(".trigger").trigger("click");
    $(".trigger").trigger("click");
    $("#check_" + lang_id).attr("checked", false);

    return false;

  }

$(document).ready(function(){
    <%if @has_company%>
      <%@company.comlangs.each do |comlang|%>
        $("#p_language_<%=comlang.language.id%>").trigger("click");
      <%end%>
        $("#language-select-<%=@company.comlangs.first.language.id%>").trigger("click");
        $(".trigger").trigger("click");
        country_select(<%=@company.country.id%>);
        employee_select(<%=@company.num_employee%>);

    <%else%>
      $('#p_language_1').trigger("click");
      $(".trigger").trigger("click");
    <%end%>
    });

function language_click(id){
  $('.company_name').hide();
  $('#title_' + id).show();
  $('.location').hide();
  $('#location_' + id).show();
  $('.company_introduction').hide();
  $('#introduction_' + id).show();
  $(".introfile_language").hide();
  $("#introfile_language_" + id).show();
  $('.language_detail_all').hide();
  $('.language_detail_' + id).css("display","inline-block");
  $('.language-select').css('color','black');
  $('.language-select').css('background-color','white');
  $('.language-select').css('border','1px solid #eee');
  $('#language-select-' + String(id)).css('background-color','#5eb12f');
  $('#language-select-' + String(id)).css('color','white');
  now_lang = id;
}
</script>

<div class="account">
  <div class="container">
    <%= render "/home/left"%>
    <div class="right-company-profile">
      <h1>Company Profile</h1>
      <form action="/users/company_update" method="post" enctype="multipart/form-data">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

        <div class="pack languages">
          <h3>Language &nbsp;<img src="/assets/my_account/circle_question_gray.png"></h3>
          <div style="display:none;" id="language_checkbox">
            <%Language.all.each do |lang|%>
              <input type="checkbox" name="lang_<%=lang.id%>" id="check_<%=lang.id%>" data-language="<%=lang.id%>"><%=lang.name%>
            <%end%>
          </div>

          <span id="selected_languages"></span>
           <div class="popover-markup">
            <img src="/assets/my_account/circle_plus.png" class="trigger" data-original-title="" title="" aria-describedby="popover603483" style="cursor:pointer;">
            <div class="content hide" style="top: 280px; left: 389px; display: block;">
              <%Language.all.each do |language|%>
                <p onclick="languagebox(this); return false;" data-nickname="<%=language.nickname%>" data-language="<%=language.id%>" id="p_language_<%=language.id%>" class="p_language_<%=language.id%>"><%=language.name%></p>
              <%end%>
            </div>
          </div>
        </div>
     

      <div class="company-name">
        <%Language.all.each do |language|%>
          <input type="text" placeholder="Company Name (in <%=language.name%>)" onchange="auto_func(<%=language.id%>);" onkeyup="auto_func(<%=language.id%>);" class="company_name" id="title_<%=language.id%>" name="title_<%=language.id%>" <%if @has_company && @company.comlangs.where(:language_id => language.id).count != 0%> value="<%if @has_company%><%=@company.comlangs.where(:language_id => language.id).first.name%><%end%>"<%end%> autocomplete="off">
        <%end%>

        <div class="company-name-drop" style="display:none;">
          <div class="company-autocomplete auto_div" data-company="gameberry">
            <img src="/assets/product_card_view/02.jpg"><h5>gameberry</h5>
          </div>
          <div class="company-autocomplete auto_div" data-company="man">
            <img src="/assets/product_card_view/03.jpg"><h5>man</h5>
          </div>
          <div class="company-autocomplete auto_div" data-company="wow berry">
            <img src="/assets/product_card_view/04.jpg"><h5>wow berry</h5>
          </div>
          <%Company.all.each do |company|%>
            <%company.comlangs.each do |comlang|%>
              <div class="company-autocomplete auto_div" data-company="<%=comlang.name%>">
                <img src="<%=company.logo.url(:thumb)%>"><h5><%=comlang.name%></h5>
              </div>
            <%end%>
          <%end%>
          <div class="company-autocomplete" onclick="new_company();">
            <h5>Will you make new company?</h5>
          </div>
        </div>
      </div>
      <script>
function new_company(){
  $(".company-name-drop").hide();
};
function auto_func(id){
  if ($('#title_' + id).val() != ""){
          $(".company-name-drop").show();
          $(".auto_div").hide();
            var auto_count = 0
          $(".auto_div").each(function(){
            if ($(this).data("company").indexOf($('#title_' + id).val()) != -1 )
            {
                auto_count = auto_count + 1;
                $(this).show();             
                }
            
                });
            if (auto_count == 0){
              $(".auto_div").hide();
            }
          }else{
          $(".auto_div").hide();
          $(".company-name-drop").hide();
          
          }

}


      </script>



  <script>
    function country_select(id){
      $("#country_text").val($("#country_li_" + id ).html());
      $("#country_id").val(id);
    }
  </script>
  <input type="hidden" name="country" id="country_id" value="1">
  <input type="hidden" name="employee" id="employee_id" value="0">


      <div class="country">
        <input type="text" disabled id="country_text" placeholder="Country">
        <div class="country-down">
          <ul>
            <% Country.all.each do |country|%>
              <li onclick="country_select(<%=country.id%>);" id="country_li_<%=country.id%>"><%=country.name%></li>
            <%end%>
            
          </ul>
        </div>
      </div>

  <script>
    function employee_select(id){
      $("#employee_text").val($("#employee_li_" + id ).html());
      $("#employee_id").val(id);
    }
  </script>


  <div class="number">
    <input type="text" placeholder="Number of Employee" id="employee_text" disabled>
    <div class="number-drop">
      <ul>
        <%0.upto(5) do |em_num|%>
          <li id="employee_li_<%=em_num%>"onclick="employee_select(<%=em_num%>);"><%=@em_array[em_num]%></li>
        <%end%>
      </ul>
    </div>
  </div>


      
      
      <input type="text" placeholder="Website" name="website" <%if @has_company%> value="<%=@company.website%>"<%end%>>
      <%Language.all.each do |language|%>
        <textarea rows="6" placeholder="Company introduction (in <%=language.name%>)" id="introduction_<%=language.id%>" name="introduction_<%=language.id%>" class="company_introduction"><%if @has_company && @company.comlangs.where(:language_id => language.id).count != 0%><%=@company.comlangs.where(:language_id => language.id).first.introduction%><%end%></textarea>
      <%end%>

  <script>


function logo_upload(){ 
        $('#logo_name').html($('#company_logo').val().replace(/^.*[\\\/]/, ''));
        $('#upload_logo_btn').html('Change Logo');
        var regex = /\.(bmp|jpg|jpeg|gif|png)$/; 
        if (regex.test($('#company_logo').val().toLowerCase())) {
        } else {
          alert("Please upload a valid image file.");
          delete_logo();
        }
}


      function intro_upload(id){
        $('#introduction_name_' + id).html($('#company_introduction_' + id).val().replace(/^.*[\\\/]/, ''));
        $("#intro_btn_" + id).html('Change File');
      
      }

function delete_intro(id){
  $('#introduction_name_' + id).html("");
  $("#company_introduction_" + id).remove();
  $("#logo_file_box").append('<input type="file" name="company_introduction[' + id + ']" id="company_introduction_' + id + '" onchange="intro_upload(' + id + ');">');
    $("#intro_btn" + id).html('+Upload File');
  }


      var client_count = 0;
      function client_upload(){
        var regex = /\.(bmp|jpg|jpeg|gif|png)$/; 

        if (regex.test($('#client_' + client_count).val().toLowerCase())) {
                if (typeof (FileReader) != "undefined") {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                      $("#logo-preview").append("<div class='test-upload-img ex-img' style='background-image:url(" + e.target.result + ")'><p>Delete</p></div>");
                    }
                    reader.readAsDataURL($('#client_' + client_count)[0].files[0]);
                    client_count = client_count + 1
                    $("#logo_file_box").append('<input type="file" name="client[' + client_count + ']" id="client_' + client_count + '" onchange="client_upload(' + client_count + ');">');
                } else {
                    alert("This browser does not support FileReader.");
                }
        } else {
            alert("Please upload a valid image file.");
        }
      }
function click_client(){
  $("#client_" + client_count).trigger("click");
}

function delete_logo(){
  $('#logo_name').html("");
  $("#company_logo").remove();
  $("#logo_file_box").append('<input type="file" name="company_logo" id="company_logo" style="display:none;" onchange="logo_upload();">');
    $('#upload_logo_btn').html('+Upload File');
  
  }
  </script>


  <div id="detail" <%if @company == nil%> <%#style="display:none;"%> <%end%>>

      <div class="upload-logo-area">
        <div id="logo_file_box" style="display:none;">
          <input type="file" name="company_logo" id="company_logo" style="display:none;" onchange="logo_upload();">


          <%Language.all.each do |language|%>
            <input type="file" name="company_introduction[<%=language.id%>]" id="company_introduction_<%=language.id%>" onchange="intro_upload(<%=language.id%>);">
          <%end%>


          <input type="file" name="client[0]" id="client_0" onchange="client_upload(0);">
        </div>
        <%if @has_company && @company.logo_file_name != nil %>
          <div class="upload-logo" onclick="$('#company_logo').trigger('click');" id="upload_logo_btn">Change Logo</div>
          <p class="file-name"><span id="logo_name"><%=@company.logo_file_name%></span><a href="#none" onclick="delete_logo();">X &nbsp;&nbsp;Delete</a><br><span>* JPG, GIF or PNG, Max size of 000k</span>
            </p>
          </div>
        <%else%>
          <div class="upload-logo" onclick="$('#company_logo').trigger('click');" id="upload_logo_btn">+Upload Logo</div>
            <p class="file-name"><span id="logo_name"></span><a href="#none" onclick="delete_logo();">X &nbsp;&nbsp;Delete</a><br><span>* JPG, GIF or PNG, Max size of 000k</span>
            </p>
          </div>
        <%end%>
        <div class="client-logo">
          <p onclick="$('#client-logo-div').toggle('1000');" style="cursor:pointer;">
            <img src="/assets/my_account/circle_plus.png">
            Upload Client Logo (Publisher only)
          </p>

          <div class="upload-logo-area" id="client-logo-div" style="display:none;">
            <div class="upload-logo" onclick="click_client();">+Upload Client</div>
            <p class="file-name"><span>* JPG, GIF or PNG, Max size of 000k</span>
            </p>
          </div>
          <div id="logo-preview" style="max-width:450px; margin:10px 0;">
            <%if @has_company %>
              <%@company.comclients.each do |comclient|%>
                <div class="test-upload-img ex-img" style="background-image:url('<%=comclient.logo.url(:thumb)%>');">
                  <p onclick="delete_client(<%=comclient.id%>);">Delete</p>
                </div>
              <%end%>
            <%end%>
          </div>
        </div>
        
          <div class="company-introduction">
            <h5 style="cursor:pointer;" onclick="$('#introduction-div').toggle('1000');"  ><img src="/assets/my_account/circle_plus.png">Upload Company Introduction (Publisher only)</h5>

            <div class="upload-logo-area" id="introduction-div" style="display:none;">

              <%Language.all.each do |language|%>
                <div class="introfile_language" id ="introfile_language_<%=language.id%>">
                  <div class="upload-logo" onclick="$('#company_introduction_<%=language.id%>').trigger('click');" id="intro_btn_<%=language.id%>" >+Upload File</div>
                  <p class="file-name"><span id="introduction_name_<%=language.id%>"><%if @has_company && @company.comlangs.where("language_id" => language.id).count != 0 && @company.comlangs.where("language_id" => language.id).first.comdocuments.count != 0%><%=@company.comlangs.where("language_id" => language.id).first.comdocuments.last.original_name%><%end%></span><a href="#none" onclick="delete_intro(<%=language.id%>);">X &nbsp;&nbsp;Delete</a><br><span>* JPG, GIF or PNG, Max size of 000k</span>
                  </p>
                </div>
              <%end%>

            </div>
          </div>


        </div>
        <input type="submit" class="btn btn-default" value="Save">
      </div>
      </form>
    </div>
  </div>
</div>




<script>
  $('.popover-markup > .trigger').popover({
    html : true,
    content: function() {
      return $(this).parent().find('.content').html();
    },
    container: 'body',
    placement: 'bottom'
  });

  $(function () { $('.popover-hide').popover('hide');});

</script>
