<div id="add-email" class="container">
  <h1>Add Email</h1>
  <%= form_for(current_user, :as => 'user', :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f| %>
    <% if @show_errors && current_user.errors.any? %>
      <div id="error_explanation">
        <% current_user.errors.full_messages.each do |msg| %>
          <%= msg %><br>
        <% end %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :email %>
      <div class="controls">
        <%= f.text_field :email, :autofocus => true, :value => '', class: 'form-control input-lg', placeholder: 'Example: email@me.com' %>
        <p class="help-block">Please confirm your email address. No spam.</p>
      </div>
    </div>
    <div class="actions">
      <%= f.submit 'Continue', :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>



<hr><br><br>



<div class="finish-signup">
  <div class="skip">SKIP</div>
  <div class="lagnuages">
    <h3>Language &nbsp;<img src="/assets/my_account/circle_question_gray.png"></h3>
    <span id="selected_languages"></span>
     <div class="popover-markup">
      <img src="/assets/my_account/circle_plus.png" class="trigger" data-original-title="" title="" aria-describedby="popover603483" style="cursor:pointer;">
      <div class="content hide" style="top: 280px; left: 389px; display: block;">
        <%Language.all.each do |language|%>
          <p onclick="languagebox(this); return false;" data-nickname="<%=language.nickname%>" data-language="<%=language.id%>" class="p_language_<%=language.id%>"><%=language.name%></p>
        <%end%>
      </div>
    </div>
  </div>
  <input type="text" placeholder="Company Name">
  <input type="text" placeholder="Located in">
  <input type="text" placeholder="Number of Employee">
  <input type="text" placeholder="Website">
  <textarea rows="6" placeholder="Company introduction"></textarea>
  <div class="upload-logo-area">
    <div class="upload-logo">+Upload Logo</div>
    <p class="file-name">Company_CI.jpg <a href="#none">X &nbsp;&nbsp;Delete</a><br><span>* JPG, GIF or PNG, Max size of 000k</span>
    </p>
  </div>
  <div class="client-logo">
    <h5>Upload Client Logo (Publisher only)</h5>
    <div class="ex-img">img</div>
    <div class="ex-img">img</div>
    <div class="ex-img">img</div>
    <div class="ex-img">img</div>
    <div class="ex-img">img</div><br>
    <div class="ex-img">img</div>
    <div class="ex-img">img</div>
    <div class="ex-img">img</div>
    <div class="ex-img">img</div>
    <div class="ex-img">img</div>
  </div>
  <div class="company-introduction">
    <h5>Upload Company Introduction (Publisher only)</h5>
    <div class="upload-logo-area">
      <div class="upload-logo">+Upload File</div>
      <p class="file-name">Company_CI.jpg <a href="#none">X &nbsp;&nbsp;Delete</a><br><span>* JPG, GIF or PNG, Max size of 000k</span>
      </p>
    </div>
  </div>
  <div class="save-btn">SAVE</div>
</div>




<script>
  $('.popover-markup > .trigger').popover({
    html : true,
    content: function() {
      return $(this).parent().find('.content').html();
    },
    container: 'body',
    placement: 'bottom'
  });

  $(function () { $('.popover-hide').popover('hide');});

</script>



