<script>
var now_lang = 0;
  function languagebox(lang){
    var lang_nick = lang.getAttribute("data-nickname");
    var lang_id = lang.getAttribute("data-language");

    $("#selected_languages").append("<h5 class='language-select' id='language-select-" + lang_id + "' onclick='language_click(" + lang_id + ");'>" + lang_nick + " &nbsp;&nbsp; <span onclick='languagedelete(this); return false;' data-delete='" + lang_id + "'>X</span></h5>");

    $(".p_language_" + String(lang_id)).css('display', 'none');
    $(".trigger").trigger("click");
    $('.popover').hide();
    $("#check_" + lang_id).attr("checked", true);
    language_click(lang_id);
    return false;
  }

  function languagedelete(lang){
    var lang_id = lang.getAttribute("data-delete");
    $(".p_language_" + String(lang_id)).css('display', 'inline-block');
    $(lang).parent().remove();
    $(".trigger").trigger("click");
    $(".trigger").trigger("click");
    $("#check_" + lang_id).attr("checked", false);
    return false;

  }

$(document).ready(function(){
    $('.p_language_1').trigger("click");
    $(".trigger").trigger("click");
    });

function language_click(id){
  $('.service_name').hide();
  $('#title_' + String(id)).show();
  $('.language_detail_all').hide();
  $('.language_detail_' + id).css("display","inline-block");
  $('.language-select').css('color','#5eb12f');
  $('.language-select').css('background-color','white');
  $('#language-select-' + String(id)).css('background-color','#5eb12f');
  $('#language-select-' + String(id)).css('color','white');
  now_lang = id;
}
</script>
<div class="create-service account">
  <div class="container">
    <%= render "/home/left"%>

    <div class="right-create-service" id="right">
      <h1>Create Service</h1>
      <form action="create_process" method="post" enctype="multipart/form-data">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <div style="display:none;">
          <%Language.all.each do |lang|%>
            <input type="checkbox" name="lang_<%=lang.id%>" id="check_<%=lang.id%>"><%=lang.name%>
          <%end%>
        </div>
        <div>
          <h3 class="language">Language &nbsp;<img src="/assets/my_account/circle_question_gray.png"></h3>
          <span id="selected_languages" >
          </span>

          <div class="popover-markup">
            <img src="/assets/my_account/circle_plus.png" class="trigger" data-original-title="" title="" aria-describedby="popover603483" style="cursor:pointer;">
            <div class="content hide" style="top: 280px; left: 389px; display: block;">
              <%Language.all.each do |language|%>
                <p onclick="languagebox(this); return false;" data-nickname="<%=language.nickname%>" data-language="<%=language.id%>" class="p_language_<%=language.id%>"><%=language.name%></p>
              <%end%>
            </div>
          </div>
        </div>

        <div>
          <h3>Service Name</h3>
          <%Language.all.each do |language|%>
            <input type="text" placeholder="Service name in <%=language.name%>" id="title_<%=language.id%>" name="title_<%=language.id%>" class="service_name">
          <%end%>
        </div>


        <h3>Marketing Type</h3>
        <script>
          function marketing_click(id){
            $("#marketing_btn").html($("#marketing_li_" + id).data("marketing"));
            $("#marketing_id").val(id);
            if(id > 15 && id < 62){
              $(".platform").show();
              $("#platform_0").trigger("click");
            }else{
              $(".platform").hide();
            
            }
          }
        </script>
        <input type="hidden" id="marketing_id" value="1">
        <div>
        <div class="marketing drop">
          <div class="marketing-btn" id="marketing_btn">Select</div>
            <div class="marketing-down">
              <ul>
                <%Marketingtype.where(:filter => 1).each do |marketing1|%>
                  <%if marketing1.name == "All"%>
                    <li class="title" onclick="marketing_click(<%=marketing1.id%>);" id="marketing_li_<%=marketing1.id%>" data-marketing ="<%=marketing1.name%>">All</li><hr>
                  <%else%>
                    <li class="division" >
                    <span  id="marketing_li_<%=marketing1.id%>" data-marketing ="<%=marketing1.name%>" onclick="marketing_click(<%=marketing1.id%>);"><%=marketing1.name%></span>
                      <%if marketing1.child_types.count != 0%>
                        <div class="division-hover" style="min-height:230px;">
                          <ul>
                            <% marketing1.child_types.each do |marketing2|%>
                              <%if marketing2.filter == 2%>
                                <ul>
                                  <li class="title" onclick="marketing_click(<%=marketing2.id%>);" data-marketing ="<%=marketing2.name%>" id="marketing_li_<%=marketing2.id%>" ><%=marketing2.name%></li>
                                  <%if marketing2.child_types.count != 0%>
                                    <%marketing2.child_types.each do |marketing3|%>
                                      <li onclick="marketing_click(<%=marketing3.id%>);"id="marketing_li_<%=marketing3.id%>"data-marketing ="<%=marketing3.name%>" ><%=marketing3.name%></li>
                                    <%end%>
                                  <%end%>
                                </ul>
                              <%else%>
                                <li onclick="marketing_click(<%=marketing2.id%>);"id="marketing_li_<%=marketing2.id%>" data-marketing ="<%=marketing2.name%>"><%=marketing2.name%></li>
                            <%end%>
                          <%end%>
                        </ul>
                    </div>
                  <%end%>
                  </li>
                <%end%>
              <%end%>
            </ul>
          </div>
        </div>
      </div>
          <script>
            function platform_change(id){
              $("#platform_type").val(id);
              $(".platform_p").css("color", "#888");
              $(".platform_p").css("background-color", "white");
              $("#platform_" + id).css("color", "white")
              $("#platform_" + id).css("background-color", "#5eb12f")

            }
            </script>
          <div class="platform" id="platform" style="display:none;">
            <h3>Platform</h3>
            <input type="hidden" value="0" name="platform" id="platform_type">
            <p onclick="platform_change(0);" class="platform_p" id="platform_0">All</p>
            <p onclick="platform_change(1);"class="platform_p"id="platform_1">iOS</p>
            <p onclick="platform_change(2);"class="platform_p"id="platform_2">Android</p>
          </div>

      <h3>Service Detail</h3>
      <input type="hidden" name = "detail_count" value="0" id="detail_count">
      <div id="detail_box">
        <%Language.all.each do |language|%>
          <input type="text" style="display:none;" placeholder="Service Detail in <%=language.name%>" id="service_detail_0_<%=language.id%>" name="service_detail_0_<%=language.id%>" class="language_detail_all language_detail_<%=language.id%>">
        <%end%>
        <div id="imagepreview_0" class="imagepreview btn"style=""></div>
        <div class="img_name btn" onclick="$('#detail_photo_0').trigger('click');" id="image_name_0" style="width:150px;"></div>
        <div class="btn btn-a" onclick="$('#detail_photo_0').trigger('click');" style="display:inline-block; width:150px;" id="add_image_0">Add Image</div>
        <input type="file" name="detail_photo_0" style="display:none;" id="detail_photo_0" onchange="onchange_image(0);">
      </div>
      <img src="/assets/my_account/circle_plus.png" onclick="add_detail();" class="country-plus"/>

      <script>
        var detail_num = 1;
        function add_photo(num){
          $('#detail_photo_' + num).trigger('click');
        }
    function add_detail(){
      $("#detail_box").append('<%Language.all.each do |language|%><input type="text" style="display:none;" placeholder="Service Detail in <%=language.name%>" id="service_detail_' + detail_num + '_<%=language.id%>" name="service_detail_' + detail_num + '_<%=language.id%>" class="language_detail_all language_detail_<%=language.id%>"><%end%><div id="imagepreview_' + detail_num + '" class="btn imagepreview"></div><div class="btn" onclick="add_photo(' + detail_num + '" style="display:none; width:150px;" id="image_name_' + detail_num + '"></div><div class="btn btn-a" onclick="add_photo(' + detail_num + ')" style="width:150px;" id="add_image_' + detail_num + '">Add Image</div><input type="file" name="detail_photo_' + detail_num + '" style="display:none;" id="detail_photo_' + detail_num + '" onchange="onchange_image(' + detail_num + ');">');

        $('#service_detail_' + detail_num + '_' + now_lang).css("display", "inline-block");

        $("#detail_count").val(detail_num);
        detail_num = detail_num + 1;
      }
      
      function onchange_image(num){


        $('#image_name_' + num).html($('#detail_photo_' + num).val().replace(/^.*[\\\/]/, ''));
        $('#add_image_' + num).html('Change Image');
        $('#image_name_' + num).css("display", "inline-block");
        $("#dvPreview").html("");
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
        if (regex.test($('#detail_photo_' + num).val().toLowerCase())) {
            if (false) {
                $("#imagepreview_" + num).show();
                $("#imagepreview_" + num)[0].filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = $('#detail_photo_' + num).val();
            }
            else {
                if (typeof (FileReader) != "undefined") {
                    $("#imagepreview_" + num).css("display", "inline-block");
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#imagepreview_" + num).css("background-image", "url('" + e.target.result + "')");
                    }
                    reader.readAsDataURL($('#detail_photo_' + num)[0].files[0]);
                } else {
                    alert("This browser does not support FileReader.");
                }
            }
        } else {
            alert("Please upload a valid image file.");
        }

      }
      </script>

      <h3>Cost</h3>
        <input type="hidden" name="cost_count" value="0" id="cost_count">
        <input type="radio" class="cost_radio check" name="cost" class="cost_radio" id="flat_rate" value="0" checked="true"> Flat Rate
        <input type="radio" class="cost_radio check" name="cost" class="cost_radio" id="multiple_rate" value="1"> Multiple Rate
        <input type="text" placeholder="$" name="cost_0">
        <div id="multiple_box" style="display:none;">
          <div id="multiple_input">
          </div>
          <img src="/assets/my_account/circle_plus.png" onclick="add_cost();" class="country-plus"/>
        </div>
        <script>
          $(".cost_radio").click(function(){
            if($("#multiple_rate").is(":checked")){
              $("#multiple_box").show();
            }else{
                $("#multiple_box").hide();
              }
            });
          var cost_num = 1;
          function add_cost(){
            $("#multiple_input").append('<input type="text" placeholder="$" name="cost_' + cost_num + '" style="display:inline-block;"><div class="btn btn-b" style="width:100px; display:inline-block;">Delete</div>');


            $("#cost_count").val(cost_num);
            cost_num = cost_num + 1;
          }
        </script>

        <h3>Minimum Budget<input type="checkbox" class="check" id="minimum_budget"></h3>
        <div id="minimum_box" style="display:none;">
          <input type="text" placeholder="$" name="budget">
        </div>
        <script>
          $("#minimum_budget").click(function(){
              if($("#minimum_budget").is(":checked")){
                $("#minimum_box").show();
                
                }else{
                $("#minimum_box").hide();
                    
                }
          });
        </script>
        <br>
        <h3>Country</h3>
        <div id="country_box">
          <input type="hidden" value="0" name="country_count" id="country_count">
          <select name="country_0">
            <%Country.order(:name).each do |country|%>
              <option value="<%=country.id%>">
                <%=country.name%>
              </option>
            <%end%>
          </select>
          <br>
        </div>

        <img src="/assets/my_account/circle_question_gray.png" type="button" class="popover-hide country-q" data-container="body" data-toggle="popover" data-placement="top" data-content="This is your very own Campaign Monitor URL where you and your dlients will login to your account.">
        <script>
          var country_num = 1;
          function add_country(){
            $("#country_box").append("<select name='country_" + country_num + "'><%Country.all.each do |country|%><option value='<%=country.id%>'><%=country.name%></option><%end%></select><br>");
            $("#country_count").val(country_num);
            country_num = country_num + 1;
          
          }
        </script>

        <img src="/assets/my_account/circle_plus.png" class="country-plus" onclick="add_country();">


        <hr>

        <h3>[Optional] Attach Document <input type="checkbox" class="check" id="attach_btn"></h3>
        <script>
          $("#attach_btn").click(function(){
              if($("#attach_btn").is(":checked")){
                $("#document_box").show();
                
                }else{
                $("#document_box").hide();
                    
                }
          });
        </script>
        
        <div id="document_box" style="display:none;">
          <script>
            docu_count = 0;
            function add_docufile(){
              $("#docufile_" + docu_count).trigger("click");
            }
function docuchange(id){

          $("#file_box").append('<div id="filediv_' + docu_count + '"><input type="text" class="optional" id="docuname_' + docu_count + '"name="docuname_' + docu_count + '" placeholder="Name of Document"> ' + $("#docufile_" + docu_count).val().replace(/^.*[\\\/]/, '') + ' <a href="#none" onclick="delete_file(' + docu_count + ');">Delete</a></div>');
      $("#docu_count").val(docu_count);
    docu_count = docu_count + 1;
    $("#docufiles").append('<input type="file" id="docufile_' + docu_count + '" name="docufile_' + docu_count + '"onchange="docuchange(' + docu_count + ');">');


}
function delete_file(id){
  $("#docufile_" + id).remove();
  $("#filediv_" + id).remove();
}
          </script>

            <div class="btn upload-file" onclick="add_docufile();" style="display:inline-block;">
            </div>
          <div class="btn btn-a" onclick="add_docufile();">
            Upload File
          </div>
            <h5 class="upload-file-info">* Any document file such as PDF, PPT, Excel, etc. 25MB file limit</h5>
            <div id="docufiles" style="display:none;">
            <input type="hidden" name="docu_count" value="0" id="docu_count">
            <input type="file" id="docufile_0" name="docufile_0" onchange="docuchange(0);">
          </div>
          <div id="file_box" >
          </div>
        </div>

        <hr>



        <h3>Company Introduction</h3>
        <textarea type="text" placeholder="Company Introduction" name="company_name" rows="4"></textarea>

        <div class="upload-logo-area">
          <input type="file" class="upload-logo">
        </div>
        <div class="plus-upload">
          <img src="/assets/my_account/circle_plus.png" class="upload">
          <p>Clients logo</p>
          <br>
          <img src="/assets/my_account/circle_plus.png" class="upload">
          <p>[Optional] Upload Company Introduction</p>
        </div>

      <input type="submit" class="btn btn-a" value="Save">
      <button type="button" class="btn btn-b">Delete</button>

      <h5 class="ok"><input type="checkbox">I know you will not read full <span>terms.</span> But you should know at least these!</h5>
      <p>1. 입금확인</p>
      <p>2. 정글이 광고주로부터 수령하는 실수령 금액(송금 수수료를 제외한) 중</p>
      <p>3. 4.95%를 제외한 나머지 금액을 광고 매체에 지급한다.</p>
      <p>4. 대금 지급 일정 : 안전하고 투명한 거래를 위해 정글은 광고주에게는 100% 선금으로 대금을 수령하고, 광고 매체 측에는 캠페인이 100% 정상적으로 완료된 후에 대금을 지급힌다.</p>
      <p>5. 캠페인이 정상적으로 완료되었다고 판단이 되면 (Campaign Result)</p>
      </form> 
    </div>
  </div>
</div>






<script>
  $('.popover-markup > .trigger').popover({
    html : true,
    content: function() {
      return $(this).parent().find('.content').html();
    },
    container: 'body',
    placement: 'bottom'
  });

  $(function () { $('.popover-hide').popover('hide');});

</script>



<script>
  $("#left").css("height", $("#right").css("height"));
</script>
