<!-- <img src="/assets/main/main_bg.jpg" class="main-bg"> -->
<div class="main">
  <img src="/assets/logo-01.png">
  <p class="subheadline">The best way to buy &amp; sell marketing services</p>


<form action="/products/search" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="country" id="country_hidden" value="0">
  <input type="hidden" name="marketing" id="marketing_hidden" value="1">
  <input type="hidden" name="platform" id="platform_hidden" value="1">
  <input type="hidden" name="cost_from" id="cost_from_hidden" value="0">

  <div class="select">
    <div class="country drop">
      <h3 id="country_text">Country</h3>
      <div class="country-down">
        <ul>
          <li class="title" id="country_0" onclick="country_select(0);">All</li><hr>
          <%@countries.each do |country|%>
            <li id="country_<%=country.id%>" onclick="country_select(<%=country.id%>);"><%=country.name%></li>
          <%end%>
          <hr>
          <li class="title other">
            Other Countries..
            <div class="other-tooltip">
              Countries are still adding whenever Publisher create service on particular country.
            </div>
          </li>
        </ul>
      </div>
    </div>


    <div class="marketing-mobile">
      <div class="marketing drop">
        <h3 id="marketing_text">Marketing type</h3>
        <div class="marketing-down">
                <ul>
                  <%Marketingtype.where(:filter => 1).each do |marketing1|%>
                    <%if marketing1.name == "All"%>
                      <li class="title" onclick="marketing_click(<%=marketing1.id%>);" id="marketing_li_<%=marketing1.id%>" data-marketing ="<%=marketing1.name%>">All</li><hr>
                    <%else%>
                      <li class="division" >
                      <span  id="marketing_li_<%=marketing1.id%>" data-marketing ="<%=marketing1.name%>" onclick="marketing_click(<%=marketing1.id%>);"><%=marketing1.name%></span>
                        <%if marketing1.child_types.count != 0%>
                          <div class="division-hover" style="min-height:230px;">
                            <ul>
                              <% marketing1.child_types.each do |marketing2|%>
                                <%if marketing2.filter == 2%>
                                  <ul>
                                    <li class="title" onclick="marketing_click(<%=marketing2.id%>);" data-marketing ="<%=marketing2.name%>" id="marketing_li_<%=marketing2.id%>" ><%=marketing2.name%></li>
                                    <%if marketing2.child_types.count != 0%>
                                      <%marketing2.child_types.each do |marketing3|%>
                                        <%if marketing3.filter != 4%>
                                          <li onclick="marketing_click(<%=marketing3.id%>);"id="marketing_li_<%=marketing3.id%>"data-marketing ="<%=marketing3.name%>" ><%=marketing3.name%></li>
                                        <%end%>
                                      <%end%>
                                    <%end%>
                                  </ul>
                                <%else%>
                                  <li onclick="marketing_click(<%=marketing2.id%>);"id="marketing_li_<%=marketing2.id%>" data-marketing ="<%=marketing2.name%>"><%=marketing2.name%></li>
                              <%end%>
                            <%end%>
                          </ul>
                      </div>
                    <%end%>
                    </li>
                  <%end%>
                <%end%>
              </ul>

        </div>
      </div>
      <div class="platform" style="display:none;">
        <h3 id="platform_text">Platform</h3>
        <div class="platform-down">
          <ul>
            <li class="title" id="platform_0" onclick="platform_click(0);">All</li><hr>
            <li id="platform_1" onclick="platform_click(1);" >iOS</li>
            <li id = "platform_2" onclick="platform_click(2);" >Andriod</li>
          </ul>
        </div>
      </div>
    </div>
    


    <div class="cost">
      <input type="text" placeholder="Cost" id="fake_cost">
      <div class="cost-hover">
        $ | <input type="text" name="cost_from" onkeyup="cost_key();">to&nbsp;
        $ | <input type="text" name="cost_to" onkeyup="cost_key();">
      </div>
      <h5 id="empty">Empty for All</h5>
    </div>
    
    <button>Jungggling<img src="/assets/main/search_logo.png"></button>
  </div>
  <div class="country-down">
  </div>
</div>
</form>


<script>
  $('#other').tooltip('show');
</script>
