<%if @products.count == 0%><p class="oops">Oops! there is no service from <%=@company.comlangs.first.name%></p><%end%>
<div class="search search-company">
  <div class="container">
    <img src="<%=@company.logo.url(:medium)%>" width="220px;">
    <h4><%=@company.comlangs.order(:language_id).first.name%></h4>

    <table>
      <tr class="table-header">
        <!--<td class="company-img">Company name</td>-->
        <td class="service" width="170px;">Service Name</td>
        <td>Service details</td>
        <td class="country">Country</td>
        <td class="marketing">Marketing type</td>
        <td class="cost">Cost</td>
      </tr>

      <%@products.each do |product|%>
        <%company = product.company%>
        <tr class="table-body">
          <!--
          <td class="company-img"><img src="<%=company.logo.url(:medium)%>"><br><%=company.comlangs.first.name%></td>-->
          <td class="service-name"><a href="/products/search_detail/<%=product.id%>"><%=product.prolangs.order(:language_id).first.title%></a></td>
          <td class="detail">
            <a href="/products/search_detail/<%=product.id%>">
              <%product.prolangs.order(:language_id).first.detailangs.each do |detailang|%>
                <%if detailang.detail != nil%>
                  <%=simple_format("<span>-</span>#{detailang.content}", {}, wrapper_tag: "h5")%>
                <%end%>
              <%end%>
            </a>
          </td>
          <td><%if @country != nil%><%=@country.name%><%else%><%product.procons.each do |procon|%><%if procon.country != nil%><%=procon.country.name%><%end%><br><%end%><%end%></td>
          <td class="marketing"><%=product.marketingtype.name%></td>
          <td class="cost"><%if product.costs.count > 1%>$<%=product.costs.order(:money).first.money.to_f%> - $<%=product.costs.order(:money).last.money.to_f%><%else%>$<%=product.costs.first.money%><%end%><br><span class="rating">0.0 /</span>&nbsp;<span class="review">0 reviews</span>
            <a href="/products/search_detail/<%=product.id%>"><button type="button" class="btn btn-default  ">Detail</button></a>
          </td>
        </tr>
      <%end%>

    </table>
    <%#>
    <ul class="pagination">
      <li class="disabled"><a href="#">«</a></li>
      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li class="disabled"><a href="#">«</a></li>
    </ul>
  %>
  </div>
</div>


