<div class="search-detail">
  <div class="container">
    <div class="left">

      <div class="btn-group btn-tab">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
          Country <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <%@countries.each do |country_hash|%>
            <%if country_hash[1] != nil%>
              <li><a href="/products/search_detail/<%=country_hash[0].id%>"><%=country_hash[1].name%></a></li>  
            <%end%>
          <%end%>
        </ul>
      </div>

      <div class="btn-group btn-tab">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
          <%if @product.marketingtype.parent_type != nil%>
            <%if @product.marketingtype.parent_type.parent_type != nil%>
              <%if @product.marketingtype.parent_type.parent_type.parent_type != nil%>
                <%=@product.marketingtype.parent_type.parent_type.parent_type.name%> /
              <%end%>
              <%=@product.marketingtype.parent_type.parent_type.name%> /
            <%end%>
              <%=@product.marketingtype.parent_type.name%> /
            <%end%>
              <%=@product.marketingtype.name%>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <%@company.products.each do |product|%>
            <li>
            
            <a href="/products/search_detail/<%=product.id%>">
            <%if product.marketingtype.parent_type != nil%>
              <%if product.marketingtype.parent_type.parent_type != nil%>
                <%if product.marketingtype.parent_type.parent_type.parent_type != nil%>
                  <%=product.marketingtype.parent_type.parent_type.parent_type.name%> /
                <%end%>
                <%=product.marketingtype.parent_type.parent_type.name%> /
              <%end%>
                <%=product.marketingtype.parent_type.name%> /
              <%end%>
                <%=product.marketingtype.name%>
              </a>
            </li>
          <%end%>
        </ul>
      </div>
<style>
.language_btn .long{
  display:none;
}
.language_btn:hover .long{
  display:block;
}
.language_btn .short{
  display:block;
}
.language_btn:hover .short{
  display:none;
}
</style>

<script>

$(document).ready(function(){
  $("#language_btn_<%=@product.prolangs.first.language_id%>").trigger("click");
    });

function language_select(id){
  $(".language_btn").css("border", "1px solid #ddd");
  $(".language_btn").css("background-color", "white");
  $(".language_btn").css("color", "#666");
  $("#language_btn_" + id).css("background-color", "#5eb12f");
  $("#language_btn_" + id).css("color", "white");
  $("#language_btn_" + id).css("border", "1px solid #5eb12f");
  $(".language_name").hide();
  $(".language_name_" + id).show();
  $(".detail_div").hide();
  $(".detail_div_" + id).show();


}

</script>

      <div class="btn-toolbar">
        <%@product.prolangs.each do |prolang|%>
          <div class="btn-group">
            <button type="button" class="btn language_btn" onclick="language_select(<%=prolang.language_id%>);" id ="language_btn_<%=prolang.language_id%>"><span class="long"><%=prolang.language.name%></span><span class="short"><%=prolang.language.nickname%></span></button>
          </div>
        <%end%>
      </div>
      <table>
        <tr class="table-header">
          <td class="service-name">Service name</td>
          <td>Service details</td>
          <td>Cost</td>
          <td></td>
        </tr>
        <tr class="table-body">
          <td class="service-name"><%@product.prolangs.each do |prolang|%><div class="language_name language_name_<%=prolang.language_id%>"><%=prolang.title%></div><%end%>
            <!-- <div class="country-view">
              <img src="/assets/search/globe-01.svg" class="globe">
              <div class="country-view-hover">
                <img src="/assets/my_account/hover_pointer.svg" class="pointer">
                <ul>
                  <li>국가</li>
                  <li>국가</li>
                  <li>국가</li>
                  <li>국가</li>
                  <li>국가국가국가</li>
                  <li>국가</li>
                  <li>국가</li>
                  <li>국가국가</li>
                  <li>국가</li>
                  <li>국가국가</li>
                  <li>국가</li>
                  <li>국가</li>
                  <li>국가국가국가</li>
                  <li>국가</li>
                  <li>국가</li>
                  <li>국가</li>
                  <li>국가</li>
                  <li>국가</li>
                </ul> 
              </div>
            </div> -->

          </td>
          <td class="service-details" style="width: 430px; padding-right: 15px;">
            <%@product.prolangs.each do |prolang|%>
              <div class="detail_div  detail_div_<%=prolang.language_id%>" >
                <% prolang.detailangs.each do |detailang| %>
                  <%if detailang.detail != nil%>
                    <%if detailang.detail.proimages.count != 0%>
                      <div class="detail_content">
                        <h5 class="img-hover">— <%=detailang.content%>
                        <img src="<%=detailang.detail.proimages.first.photo.url(:medium)%>">
                        </h5>
                      </div>
                    <%else%>
                      <div class="detail_content">
                        <h5 class="font-color">— <%=detailang.content%>
                        </h5>
                      </div>
                    <%end%>
                  <%end%>
                <%end%>
                <%prolang.prodocuments.each do |prodocument|%>
                  <h4 class="download"><a href="/products/attachment/<%=prodocument.id%>"><span class="glyphicon glyphicon-link"></span> &nbsp;<%=prodocument.name%></a></h4>
                <%end%>

              </div>
            <%end%>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn-dd dropdown-toggle" data-toggle="dropdown">
                <%=number_to_currency(@product.costs.first.money, :unit => "$")%><span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <%@product.costs.each do |cost|%>
                  <li><a href="#"><%=number_to_currency(cost.money, :unit => "$")%></a></li>
                <%end%>
              </ul>
            </div>
          </td>
          <td><button type="button" class="btn-buy" onclick="alert('Sorry, You can use it after update.');" data-toggle="modal" data-target="#Modal-ready">Buy</button></td>
        </tr>
      </table>
      <h5>* Last update on <%=@product.updated_at.to_s[0..9]%></h5>
      <div class="clients">
        <h1>Clients</h1>
        <div class="logo-area">
          <%@company.comclients.each do |client|%>
            <img src="<%=client.logo.url(:medium)%>"/>
          <%end%>
        </div>
      </div>
      <div class="results">
        <h1 data-toggle="modal" data-target="#Modal-ready" style="cursor: pointer;">Project Results <span>See all</span></h1>
        <table>
          <tr class="table-header">
            <td class="date">Complite date</td>
            <td>Project Results URL</td>
            <td>Country</td>
            <td>Budget</td>
          </tr>
          <tr class="table-body">
            <td class="date"></td>
            <td class="font-color" data-toggle="modal" data-target="#Modal-ready"></td>
            <td></td>
            <td class="budget"></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="right">
      <div class="right-top">
        <%if @company.logo_file_name != nil%><img src="<%=@company.logo.url(:medium)%>"/><%else%><img src="/assets/search/img_11.png"><%end%>
        <% @company.comlangs.each do |comlang| %>
          <h3 class="company_name company_name_<%=comlang.language_id%>"><%=comlang.name%></h3>
        <%end%>
        <div class="contents">
          <table>
            <tr>
              <td class="name">website :</td>
              <td class="link"><a href="<%if @company.website[0..6] != "http://" && @company.website[0..7] != "https://"%>http://<%end%><%=@company.website%>"><%=@company.website%></a></td>
            </tr>
            <tr>
              <td class="name">Located In :</td>
              <td><%=@company.country.name%></td>
            </tr>
            <tr>
              <td class="name"># of employee :</td>
              <td><%=@company.employee_count%></td>
            </tr>
          </table>
        </div>
        <h1>0.0 <span>0 advertisers rated</span></h1>
        <button type="button" class="btn" onclick="alert('You can use it after Update.');" <%#data-toggle="modal" data-target="#Modal-send-message"%>>Send Message</button>
      </div>
      <div class="right-bottom">
        <h3>Company Introduction</h3>
        <%@company.comlangs.each do |comlang|%>
          <%if comlang.comdocuments.count != 0%>
            <a href="/products/attachment/<%=comlang.comdocuments.first.id%>"><h5><span class="glyphicon glyphicon-save"></span> Full Company Introduction</h5></a>
          <%end%>
          <p><%=simple_format(comlang.introduction)%></p>
        <%end%>
      </div>
    </div>
  </div>
</div>






<!-- project-result-1 Modal -->
<div class="modal fade" id="Modal-project-result-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-project-result-1">
    <div class="modal-content modal-project-result-1">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>project-result-1</h2>
        <p>내용삽입</p>
        <button type="button" class="btn btn-a" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- project-result-2 Modal -->
<div class="modal fade" id="Modal-project-result-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-project-result-2">
    <div class="modal-content modal-project-result-2">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>project-result-2</h2>
        <p>내용삽입</p>
        <button type="button" class="btn btn-a" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<!-- send-message Modal -->
<div class="modal fade" id="Modal-send-message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-send-message">
    <div class="modal-content modal-send-message">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Send a message to the publisher.</h2>
        <textarea rows="6"></textarea>
        <button type="button" class="btn btn-a" data-dismiss="modal" data-toggle="modal" data-target="#Modal-send-ok">Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- send-ok Modal -->
<div class="modal fade" id="Modal-send-ok" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-send-message">
    <div class="modal-content modal-send-message">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Message has sent to the publisher.</h2>
        <h3>You will receive the reply through your email ceo@gameberry.co.kr.</h3>
        <button type="button" class="btn btn-a" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->







<!-- ready Modal -->
<div class="modal fade" id="Modal-ready" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-ready">
    <div class="modal-content modal-ready">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="ready-search-detail">
          <h1>We are developing<br>a new feature of <span>Jungggle.</span></h1>
          <img src="/assets/ready.png">
          <p>We are currently on Beta version for service provider’s opening business in advance. <br>The official release date for Advertisers to see actual project results would be early December.</p>
          <p>Thanks for waiting. We are preparing enough results to help you make decisions on marketing. <br>you could open all the project results with Pro accounts here soon.  </p>
          <h3 class="date"><b>Will be finished before <span>Dec 11th, 2014.</span><b></h3>
          <button type="button" class="btn btn-a" data-dismiss="modal">Close</button>
        </div><!-- /.ready-search-detail-->
      </div><!-- /.modal-body-->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->









