<script>
$(document).ready(function(){
    $("#language_<%=@product.prolangs.first.language.id%>").trigger("click");
    });
  function language_click(id){
    $(".prolang_box").hide();
    $("#prolang_box_" + String(id)).show();
  
  }
</script>
<div class="search">
  <div class="container">
    <div class="left">

      <div class="btn-group btn-tab">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
          JAPAN
           <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="btn-group btn-tab">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
          AD <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="btn-group btn-tab">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
        CPC(iOS) <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </div>

      <div class="btn-toolbar">
        <%@product.prolangs.each do |prolang|%>
          <div class="btn-group">
            <button type="button" class="btn" onclick="language_click(<%=prolang.language.id%>);" id="language_<%=prolang.language.id%>"><%=prolang.language.name%></button>
          </div>
        <%end%>
      </div>
      <table>
        <tr class="table-header">
          <td class="service-name">Service name</td>
          <td>Service details</td>
          <td>Cost</td>
          <td></td>
        </tr>
        <tr class="table-body">
          <td class="service-name"><%@product.prolangs.each do |prolang|%><%=prolang.title%><br><%end%></td>
          <td>
            <%@product.prolangs.each do |prolang|%>
              <div class="prolang_box" id="prolang_box_<%=prolang.language.id%>">
              <%prolang.detailangs.each do |detailang|%>
                
                <%if detailang.detail.proimages.count != 0%>
                  <h5> —<%=detailang.content%><img src="<%=detailang.detail.proimages.first.photo.url(:thumb)%>"/></h5><%else%><h5 class="font-color"><%=detailang.content%></h5>
                <%end%>
              <%end%>
              </div>
            <%end%>

          </td>
          <td>
            <%if @product.costs.count == 1%>
              $<%=@product.costs.first.amount%>
            <%else%>
              <div class="btn-group">
                <button type="button" class="btn-dd dropdown-toggle" data-toggle="dropdown">
                  $0.1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <%@product.costs.each do |cost|%>
                    <li><a href="#">$<%=cost.amount%></a></li>
                  <%end%>
                </ul>
              </div>
            <%end%>
          </td>
          <td><button type="button" class="btn-buy">Buy</button></td>
        </tr>


<%#
        <tr class="table-body">
          <td class="service-name">Free App A Day <br><span class="a">B </span><span class="b">Package</span></td>
          <td>
            <h5>— 3 day feature on "Free App A Day" app</h5>
            <h5>— Top banner for 24 hours on website</h5>
            <h5>— Push notification to FAAD users (over 100k users)</h5>
            <h5>— Featured for 30 days on "Daily Double Calendar"</h5>
            <h5>— Anouncement to 33,500 twitter followers</h5>
            <h5>— Email to 35,000 site subscribers</h5>
            <h5>— Post to 630,000 Facebook followers</h5> 
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn-dd dropdown-toggle" data-toggle="dropdown">
                $0.5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">$0.5</a></li>
                <li><a href="#">$0.7</a></li>
                <li><a href="#">$1.0</a></li>
                <li><a href="#">$1.5</a></li>
                <li><a href="#">$1.7</a></li>
                <li><a href="#">$2.0</a></li>
              </ul>
            </div>
          </td>
          <td>In Your Cart!</td>
          </tr>
        %>
      </table>
      <h5>* Last update on 2014.7.11</h5>
      <div class="clients">
        <h1>Clients</h1>
        <img src="/assets/search/img_09.png">
        <img src="/assets/search/img_10.png">
        <img src="/assets/search/img_13.png">
        <img src="/assets/search/img_14.png">
        <img src="/assets/search/img_15.png">
        <img src="/assets/search/img_16.png">
        <img src="/assets/search/img_17.png">
        <img src="/assets/search/img_18.png">
      </div>
      <div class="results">
        <h1>Project Results <span>See all</span></h1>
        <table>
          <tr class="table-header">
            <td class="date">Complite date</td>
            <td>Project Results URL</td>
            <td>Country</td>
            <td>Budget</td>
          </tr>
          <tr class="table-body">
            <td class="date">2014.8.26</td>
            <td class="font-color">CPC(iOS) Project Result</td>
            <td>USA</td>
            <td class="budget">$500,000</td>
          </tr>
          <tr class="table-body">
            <td class="date">2014.7.26</td>
            <td class="font-color">CPC(iOS) Project Result</td>
            <td>USA</td>
            <td class="budget">$500,000</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="right">
      <div class="right-top">
        <img src="/assets/search/img_11.png">
        <h3>Hi-Res Photoset Company</h3>
        <div class="contents">
          <table>
            <tr>
              <td class="name">website :</td>
              <td>www.hiresphotoset.com</td>
            </tr>
            <tr>
              <td class="name">Located In :</td>
              <td>USA</td>
            </tr>
            <tr>
              <td class="name"># of employee :</td>
              <td>24</td>
            </tr>
          </table>
        </div>
        <h1>8.7 <span>18 advertisers rated</span></h1>
        <button type="button" class="btn">Send Message</button>
      </div>
      <div class="right-bottom">
        <h3>Company Introduction</h3>
        <p>The quality, artisanal skill and the creative impulse of a company that has always looked to the future, choosing the high technology and modernity, whilst keeping alive that involvement and unique, singular passion typical of a family-run business.<br><br>Initially it was Enzo Fusco who gave a name and face to FGF Industry, this solid reality with authentic Made in Italy DNA. Then, following in the footsteps of this talented stylist and charismatic leader who was ready to pass on the values of Italian style with enthusiasm and ability, came his family, a united and competent staff, the heirs to a challenge and a successful entrepreneurial history.</p>
      </div>
    </div>
  </div>
</div>
