<!-- search.css.scss-->
<style>
  .truncate_div {
    display:inline-block;
    width:600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
<%if @products.count == 0%><p class="oops">Oops! there is no matched result currently with "$0.1 to $0.5" on the Cost Filter.</p><%end%>
<div class="search">
  <div class="container">
    <table>
      <tr class="table-header">
        <td class="company-img">Company Name</td>
        <td class="detail">Service Details</td>
        <td class="country">Country</td>
        <td class="marketing">Marketing Type</td>
        <td class="cost">Cost</td>
      </tr>

      <%@products.each do |product|%>
        <%company = product.company%>
        <tr class="table-body">
          <td class="company-img"><img src="<%=company.logo.url(:medium)%>"><br><%=company.comlangs.first.name%>
          </td>
          <td class="detail">
            <div class="truncate_div">
              <h5 style="margin:0 0 12px 0"><a href="/products/search_detail/<%=product.id%>" class="service-name"><%=product.prolangs.order(:language_id).first.title%></a></h5>
              <a href="/products/search_detail/<%=product.id%>" class="truncate">
                <%detailang_count = 0%>
                <%product.prolangs.order(:language_id).first.detailangs.each do |detailang|%>
                  <%if detailang_count < 6%>
                    <%if detailang.detail != nil%>
                      <%=simple_format("<span>-</span>#{detailang.content}", {}, wrapper_tag: "h5", style: '')%>
                    <%end%>
                  <%elsif detailang_count == 6%>
                    <h5>...</h5>
                  <%end%>
                  <%detailang_count += 1%>
                <%end%>
              </a>
            </div>
          </td>
          <td class="country"><%product.procons.each do |procon|%><%if procon.country != nil%><%=procon.country.name%><br><%end%><%end%></td>
          <td class="marketing"><%=product.marketingtype.name%></td>
          <td class="cost">
            <%if product.costs.count > 1%>$<%=product.costs.order(:money).first.money.to_f%> - $<%=product.costs.order(:money).last.money.to_f%><%else%>$<%=product.costs.first.money%><%end%>
            <br><span class="rating">0.0 /</span>&nbsp;<span class="review">0 reviews</span>
            <a href="/products/search_detail/<%=product.id%>"><button type="button" class="btn btn-default">Detail</button>
            </a>
          </td>
        </tr>
      <%end%>
    </table>
    <%#>
    <ul class="pagination">
      <li class="disabled"><a href="#">«</a></li>
      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li class="disabled"><a href="#">«</a></li>
    </ul>
  %>
  </div>
</div>

<script>
$(document).ready(function(){
    $(".truncate_div h5").truncate({
          width: '600px',
          token: '&hellip;',
          side: 'right',
          multiline: true
    });

    });
</script>

