<div class="search-detail">
  <div class="container">
    <div class="left">

<style>
.language_btn .long{
  display:none;
}
.language_btn:hover .long{
  display:block;
}
.language_btn .short{
  display:block;
}
.language_btn:hover .short{
  display:none;
}
</style>

<script>

$(document).ready(function(){
  $("#language_btn_<%=@product.prolangs.first.language_id%>").trigger("click");
    });

function language_select(id){
  $(".language_btn").css("border", "1px solid #ddd");
  $(".language_btn").css("background-color", "white");
  $(".language_btn").css("color", "#666");
  $("#language_btn_" + id).css("background-color", "#5eb12f");
  $("#language_btn_" + id).css("color", "white");
  $("#language_btn_" + id).css("border", "1px solid #5eb12f");
  $(".language_name").hide();
  $(".language_name_" + id).show();
  $(".detail_div").hide();
  $(".detail_div_" + id).show();


}

</script>

      <div style="margin: 10px 0;">
        <div class="top-drop">
          <div class="first">
            Other Country<span class="glyphicon glyphicon-chevron-down"></span>
          </div>
          <div class="top-country-drop-menu">
            <%@countries.each do |country_hash|%>
              <%if country_hash[1] != nil%>
                <a href="/products/search_detail/<%=country_hash[0].id%>"><h5><%=country_hash[1].name%></h5></a>  
              <%end%>
            <%end%>
          </div>
        </div>

        <div class="top-marketing-drop">
          <div class="marketing">
            Other Marketing Type<span class="glyphicon glyphicon-chevron-down"></span>
          </div>
          <div class="top-marketing-drop-menu">

          <%@company.products.each do |product|%>
            
            <a href="/products/search_detail/<%=product.id%>">
              <h5>
                <%if product.marketingtype.parent_type != nil%>
                  <%if product.marketingtype.parent_type.parent_type != nil%>
                    <%if product.marketingtype.parent_type.parent_type.parent_type != nil%>
                      <%=product.marketingtype.parent_type.parent_type.parent_type.name%> /
                    <%end%>
                    <%=product.marketingtype.parent_type.parent_type.name%> /
                  <%end%>
                    <%=product.marketingtype.parent_type.name%> /
                  <%end%>
                  <%=product.marketingtype.name%>
                </h5>
              </a>
            <%end%>
          </div>
        </div>

        <div class="btn-toolbar">
          <%@product.prolangs.each do |prolang|%>
            <div class="btn-group">
              <button type="button" class="btn language_btn" onclick="language_select(<%=prolang.language_id%>);" id ="language_btn_<%=prolang.language_id%>"><span class="long"><%=prolang.language.name%></span><span class="short"><%=prolang.language.nickname%></span></button>
            </div>
          <%end%>
        </div>
      </div>
        

      <table>
        <tr class="table-header">
          <td class="service-name">Service name</td>
          <td>Service details</td>
          <td>Cost</td>
        </tr>
        <tr class="table-body" style="border-bottom:none; height: 20px;">
          <td class="country">
            <span>Korea</span>
            <span>Japan</span>
          </td>
          <td class="service-details" style="width: 430px; padding-right: 15px;border-bottom:1px solid #bbb; " rowspan="2">
            <%@product.prolangs.each do |prolang|%>
              <div class="detail_div  detail_div_<%=prolang.language_id%>" >
                <% prolang.detailangs.each do |detailang| %>
                  <%if detailang.detail != nil%>
                    <%if detailang.detail.proimages.count != 0%>
                      <div class="detail_content">
                        <h5 class="img-hover"><span style="font-size: 10px; font-weight: 700;">—</span> <%=detailang.content%>
                        <img src="<%=detailang.detail.proimages.first.photo.url(:medium)%>">
                        </h5>
                      </div>
                    <%else%>
                      <div class="detail_content">
                        <h5 class="font-color">— <%=detailang.content%>
                        </h5>
                      </div>
                    <%end%>
                  <%end%>
                <%end%>
                <%prolang.prodocuments.each do |prodocument|%>
                  <h4 class="download"><a href="/products/attachment/<%=prodocument.id%>"><img src="/assets/search/download-01.png"> &nbsp;<%=prodocument.name%></a></h4>
                <%end%>

              </div>
            <%end%>
          </td>
          <td class="cost" rowspan="2" style="border-bottom:1px solid #bbb;">
            <div class="cost-dropdown">
              <div class="first" id="cost_<%=@product.id%>" >
                <%=number_to_currency(@product.costs.first.money, :unit => "$")%><span class="glyphicon glyphicon-chevron-down"></span>
              </div>
              <div class="cost-dropdown-menu">
                <%@product.costs.each do |cost|%>
                  <h5 onclick='$("#cost_<%=@product.id%>").html($("#cost_val_<%=cost.id%>").html());' id='cost_val_<%=cost.id%>'><%=number_to_currency(cost.money, :unit => "$")%></h5>
                <%end%>
              </div>
            </div>
            
            <button type="button" class="btn-buy" data-toggle="modal" data-target="#Modal-ready" style="margin-top: 15px;">Buy</button>
          </td>
       
        </tr>
        <tr class="table-body">
          <td class="service-name">
            <%@product.prolangs.each do |prolang|%>
              <div class="language_name language_name_<%=prolang.language_id%>">
                <%=prolang.title%>
              </div>
            <%end%>
          </td>
        </tr>
      </table>
      <h5 style="text-align: right; margin-right: 5px;">Last update on <%=@product.updated_at.to_s[0..9]%></h5>

      <div class="clients">
        <h1>Clients</h1>
        <div class="logo-area">
          <% client_order = 1%>
          <%@company.comclients.each do |client|%>
            <%if client_order%4 == 1%>
              <div>
            <%end%>
            <%if client_order%4 == 0 %>
                <div class="wrap last">
              <%else%>
                <div class="wrap">
              <%end%>
              <img src="<%=client.logo.url(:medium)%>"/>
            </div>
            <%if client_order%4 == 0 || @company.comclients.count == client_order%>
              </div>
            <%end%>
            <% client_order += 1%>
          <%end%>
        </div>
      </div>


      <div class="results">
        <h1><img src="/assets/search/results.png">&nbsp;&nbsp;Project Results <span data-toggle="modal" data-target="#Modal-ready" style="cursor: pointer;">See all</span></h1>
        <table>
          <tr class="table-header">
            <td class="date">Complite date</td>
            <td>Project Results URL</td>
            <td>Country</td>
            <td>Budget</td>
          </tr>
          <tr class="table-body">
            <td class="date"></td>
            <td class="font-color" data-toggle="modal" data-target="#Modal-ready"></td>
            <td></td>
            <td class="budget"></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="right">
      <div class="right-top">
        <% @company.comlangs.each do |comlang| %>
          <h3 class="company_name company_name_<%=comlang.language_id%>"><%=comlang.name%></h3>
        <%end%>
        <div class="company-logo-area">
          <%if @company.logo_file_name != nil%><img src="<%=@company.logo.url(:medium)%>"/><%else%><img src="/assets/search/img_11.png"><%end%>
        </div>
        
        <div class="contents">
          <table>
            <tr>
              <td class="name">website :</td>
              <td class="link"><a href="<%if @company.website[0..6] != "http://" && @company.website[0..7] != "https://"%>http://<%end%><%=@company.website%>"><%=@company.website%></a></td>
            </tr>
            <tr>
              <td class="name">Located In :</td>
              <td><%=@company.country.name%></td>
            </tr>
            <tr>
              <td class="name"># of employee :</td>
              <td><%=@company.employee_count%></td>
            </tr>
          </table>
        </div>
        <div class="rate">
          <h1>0.0<br><span>0 advertisers rated</span></h1>
          <button type="button" class="btn"data-toggle="modal" data-target="#Modal-ready">Send Message</button>
        </div>
      </div>
      <div class="right-bottom">
        <h3>Company Introduction</h3>
        <%@company.comlangs.each do |comlang|%>
          <%if comlang.comdocuments.count != 0%>
            <a href="/products/attachment/<%=comlang.comdocuments.first.id%>"><h5><span class="glyphicon glyphicon-save"></span> Full Company Introduction</h5></a>
          <%end%>
          <p><%=simple_format(comlang.introduction)%></p>
        <%end%>
      </div>
    </div>
  </div>
</div>






<!-- project-result-1 Modal -->
<div class="modal fade" id="Modal-project-result-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-project-result-1">
    <div class="modal-content modal-project-result-1">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>project-result-1</h2>
        <p>내용삽입</p>
        <button type="button" class="btn btn-a" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- project-result-2 Modal -->
<div class="modal fade" id="Modal-project-result-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-project-result-2">
    <div class="modal-content modal-project-result-2">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>project-result-2</h2>
        <p>내용삽입</p>
        <button type="button" class="btn btn-a" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<!-- send-message Modal -->
<div class="modal fade" id="Modal-send-message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-send-message">
    <div class="modal-content modal-send-message">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Send a message to the publisher.</h2>
        <textarea rows="6"></textarea>
        <button type="button" class="btn btn-a" data-dismiss="modal" data-toggle="modal" data-target="#Modal-send-ok">Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- send-ok Modal -->
<div class="modal fade" id="Modal-send-ok" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-send-message">
    <div class="modal-content modal-send-message">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Message has sent to the publisher.</h2>
        <h3>You will receive the reply through your email ceo@gameberry.co.kr.</h3>
        <button type="button" class="btn btn-a" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->







<!-- ready Modal -->
<div class="modal fade" id="Modal-ready" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-ready">
    <div class="modal-content modal-ready">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="ready-search-detail">
          <h1>We are developing<br>a new feature of <span>Jungggle.</span></h1>
          <img src="/assets/ready.png">
          <p>We are currently on Beta version for service provider’s opening business in advance. <br>The official release date for Advertisers to see actual project results would be early December.</p>
          <p>Thanks for waiting. We are preparing enough results to help you make decisions on marketing. <br>you could open all the project results with Pro accounts here soon.  </p>
          <h3 class="date"><b>Will be finished before <span>Dec 11th, 2014.</span><b></h3>
          <button type="button" class="btn btn-a" data-dismiss="modal">Close</button>
        </div><!-- /.ready-search-detail-->
      </div><!-- /.modal-body-->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->






