<!-- search.css.scss-->
<%if @products.count == 0%><p class="oops">Oops! There is no matched result currently with <%if @cost_alert != nil%>"<%=@cost_alert%>" on the Cost Filter <%end%><%if @marketing != nil%>"<%=@marketing.name%>" on the Marketing type Filter <%end%><%if @country != nil%>"<%=@country.name%>" on the Country Filter<%end%>.</p><%end%>
<div class="search">
  <div class="container">
    <table>
      <tr class="table-header">
        <td class="company-img">Company Name</td>
        <td class="detail">Service Details</td>
        <td class="country">Country</td>
        <td class="marketing">Marketing Type</td>
        <td class="cost">Cost</td>
      </tr>

      <%@products.each do |product|%>
        <%company = product.company%>
        <%if @country != nil%>

          <tr class="table-body">
            <td class="company-img"><img src="<%=company.logo.url(:medium)%>"><br><%=company.comlangs.first.name%>
            </td>
            <td class="detail">
              <h5 style="margin:0 0 12px 0"><a  href="/products/details/<%=@country.name.downcase.gsub(' ','_')%>/<%=product.id%>"  class="service-name"><%=product.prolangs.order(:language_id).first.title%></a></h5>
              <a href="/products/details/<%=@country.name.downcase.gsub(' ','_')%>/<%=product.id%>" class="truncate">
                <%product.prolangs.order(:language_id).first.detailangs[0..4].each do |detailang|%>
                  <%if detailang.detail != nil%>
                    <h5><span>-</span><%=truncate(detailang.content, length: 75)%></h5>
                  <%end%>
                <%end%>
                <%if product.prolangs.order(:language_id).first.detailangs.count > 5%>
                  <h5>...</h5>
                <%end%>
              </a>
            </td>
            <td class="country"><%if @country != nil%><%=@country.name%><%else%><%=procon.country.name%><%end%></td>
            <td class="marketing"><%if product.marketingtype.parent_id == 3%>Online/<%end%><%=product.marketingtype.name%><%if product.marketingtype.is_mobile%><%if product.marketingtype.filter > 2%>(iOS, Android)<%else%>(<%=product.marketingtype.name%>)<%end%><%end%></td>
            <td class="cost">
              <%if product.costs.count > 1%>$<%=product.costs.order(:money).first.money.to_f%> - $<%=product.costs.order(:money).last.money.to_f%><%else%>$<%=product.costs.first.money%><%end%>
              <br><span class="rating">0.0 /</span>&nbsp;<span class="review">0 reviews</span>
              <a href="/products/details/<%=@country.name.downcase.gsub(' ','_')%>/<%=product.id%>" ><button type="button" class="btn btn-default">Detail</button>
              </a>
            </td>
          </tr>

        <%else%>
          <%product.procons.where.not(:country_id => nil).each do |procon|%>

          <tr class="table-body">
            <td class="company-img"><img src="<%=company.logo.url(:medium)%>"><br><%=company.comlangs.first.name%>
            </td>
            <td class="detail">
              <h5 style="margin:0 0 12px 0"><a href="/products/details/<%=procon.country.name.downcase.gsub(' ','_')%>/<%=product.id%>" class="service-name"><%=product.prolangs.order(:language_id).first.title%></a></h5>
              <a href="/products/details/<%=procon.country.name.downcase.gsub(' ','_')%>/<%=product.id%>" class="truncate">
                <%product.prolangs.order(:language_id).first.detailangs[0..4].each do |detailang|%>
                  <%if detailang.detail != nil%>
                    <h5><span>-</span><%=truncate(detailang.content, length: 75)%></h5>
                  <%end%>
                <%end%>
                <%if product.prolangs.order(:language_id).first.detailangs.count > 5%>
                  <h5>...</h5>
                <%end%>
              </a>
            </td>
            <td class="country"><%if @country != nil%><%=@country.name%><%else%><%=procon.country.name%><%end%></td>
            <td class="marketing"><%=product.marketingtype.name%></td>
            <td class="cost">
              <%if product.costs.count > 1%>$<%=product.costs.order(:money).first.money.to_f%> - $<%=product.costs.order(:money).last.money.to_f%><%else%>$<%=product.costs.first.money%><%end%>
              <br><span class="rating">0.0 /</span>&nbsp;<span class="review">0 reviews</span>
              <a href="/products/details/<%=procon.country.name.downcase.gsub(' ','_')%>/<%=product.id%>"><button type="button" class="btn btn-default">Detail</button>
              </a>
            </td>
          </tr>
          <%end%>
        <%end%>
      <%end%>
    </table>
    <%#>
    <ul class="pagination">
      <li class="disabled"><a href="#">«</a></li>
      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li class="disabled"><a href="#">«</a></li>
    </ul>
  %>
  </div>
</div>


