<!DOCTYPE html>
<html>
<head>
  <title>Jungggle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Jungggle</h1>
  <input type="text">
  <ul>
    <li>Biddings</li>
    <li>Product Results</li>
    <li>UserName</li>
    <li>Cart</li>
  </ul>
  <ul>
    <%if user_signed_in?%>
      <li><%= link_to('sign out', destroy_user_session_path, :method => :delete) %></li>
    <%else%>
      <li><a href="/users/sign_in">sign in</a></li>
      <li><a href="/users/sign_up">sign up</a></li>
      <li>Facebook</li>
      <li>Twitter</li>
    <%end%>
  </ul>

  <%= yield %>

  <ul>
    <li><a href="/home/aboutus">About us</a></li>
    <li><a href="/home/how">How it works</a></li>
    <li><a href="/home/faq">FAQ</a></li>
    <li><a href="/home/contact">Contact</a></li>
    <li><a href="#">Press</a></li>
    <li><a href="#">Terms</a></li>
    <li><a href="#">Privacy</a></li>
  </ul>
  <p> Copyrights 2014 "Jungggle LTD". All rights reserved. </p>
</body>
</html>
