<!DOCTYPE html>
<html>
<head>
<title>Jungggle</title>
<meta property="og:image" content="http://jungggle.com/assets/logo-facebook2.png"/>
<meta property="og:title" content="Jungggle"/>
<meta property="og:url" content="http://jungggle.com"/>
<meta name="description" content="The best way to buy and sell marketing services">
<meta property="og:description" content="The best way to buy and sell marketing services">
  <%= stylesheet_link_tag    'application', media: 'all' %>
<!-- Start of Woopra Code -->
<script>
(function(){
    var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call","trackForm","trackClick"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
})("woopra");

woopra.config({
    domain: "jungggle.com"
});
woopra.track();
</script>
<!-- End of Woopra Code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56375777-1', 'auto');
  ga('send', 'pageview');

</script>

<%= javascript_include_tag 'application'%>
<script src="/assets/js/jquery.truncate.min.js" type="text/javascript"></script>
<style>
.placeholder { color: #aaa; }
</style>
  <%= csrf_meta_tags %>
</head>
<body onload="height_match();">
  <!-- common.css.scss -->
  <div class="header">
    <div class="container" style="text-align: center">
      <a href="/home/main" class="logo" <%if @main%>style="visibility:hidden; float: left;"<%end%>><img src="/assets/logo-01.png"><h5 class="beta">Beta</h5></a>
      <div class="search-area">
        <div class="header-search">
          <span class="glyphicon glyphicon-search"></span>
          <input type="search" placeholder="Search Company"  autocomplete="off" id="search_title" onchange="search_auto_func();" onkeyup="search_auto_func();" name="search_title"  >
          <div class="search-drop search-company-name-drop" style="display:none;">
            <%Company.all.each do |company|%>
              <%company.comlangs.each do |comlang|%>
                <%if company.comlangs.where("name = ? AND id < ?", comlang.name, comlang.id).count == 0%>
                  <a href="/products/search_company/<%=company.id%>">
                    <div class="search-company search_auto_div" data-company="<%=comlang.name%>">
                      <img src="<%=company.logo.url(:medium)%>"><h5><%=comlang.name%></h5>
                    </div>
                  </a>
                <%end%>
              <%end%>
            <%end%>
          </div>
        </div>
      </div>

      <script>
$(document).mouseup(function (e)
{
    var container = $(".header-search");

    if (!container.is(e.target)) // ... nor a descendant of the container
    {
        $(".search-company-name-drop").hide();
    }
});

function search_auto_func(){
  if ($('#search_title').val() != ""){
          $(".search-company-name-drop").show();
          $(".search_auto_div").hide();
            var auto_count = 0
          $(".search_auto_div").each(function(){
            if ($(this).data("company").toLowerCase().indexOf($('#search_title').val().toLowerCase()) != -1 )
            {
                auto_count = auto_count + 1;
                $(this).show();             
                }
            
                });
            if (auto_count == 0){
              $(".search_auto_div").hide();
            }
          }else{
          $(".search_auto_div").hide();
          $(".search-company-name-drop").hide();
          
          }
}
      </script>
 
      <div class="header-right">
        <ul>
          <!-- <li><a href="#none">Biddings</a></li>-->
          <li><a href="/home/ready_search_detail">Project Results</a></li>
          <%if !(user_signed_in?)%>
            <li><a href="/users/sign_in" class="login-btn">Log In</a></li>
            <li><a href="/users/sign_up" class="signup-btn">Sign Up</a></li>
          <%end%>
        </ul>
        <div class="log-name"><%if current_user != nil%><a href="/users/edit"><img src="<%if current_user.avatar_file_name == nil%><%fb_identity = current_user.identities.where(:provider => "facebook").first%><%if fb_identity != nil%>https://graph.facebook.com/v2.1/<%=fb_identity.uid%>/picture?type=square<%else%>/assets/main/log-img.png<%end%><%else%><%=current_user.avatar.url(:thumb)%><%end%>"> <%=current_user.first_name%> <%=current_user.last_name%> <img src="/assets/main/menu.png" class="contents"></a><%end%>
          <div class="log-info-hover">
            <div class="log-info-account">
              <h4 class="title">My Account</h4>
              <h5><a href="/users/edit">Profile</a></h5>
              <h5><a href="/users/company">Company Profile</a></h5>
              <h5><a href="/users/members">Member</a></h5>
              <h5><a href="/users/ready_dashboard">Upgrade</a></h5>
            </div>
            <div class="log-info-adv">
              <h4 class="title">Advertiser</h4>
              <h5><a href="/home/ready_dashboard">Dashboard</a></h5><br>
              <h5><a href="/home/ready_billing">Billing</a></h5><br>
            </div>
            <div class="log-info-pub">
              <h4 class="title">Service Provider</h4>
              <h5><a href="/home/ready_project">Projects</a></h5><br>
              <%if user_signed_in? && current_user.is_admin%>
                <h5><a href="/manages/services">Manage Services(Admin)</a></h5><br>
              <%else%>
                <h5><a href="/publishers/manage">Manage Service</a></h5><br>
              <%end%>
              <h5><a href="/publishers/create">Create Service</a></h5><br>
              <h5><a href="/home/">Cash out</a></h5>
            </div>
            <div class="log-info-footer">
              <h5><a href="/users/sign_out">Log out</a></h5>
              <!--<p><span>3 ietms</span> on your cart<img src="/assets/cart.png"></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="nav" <%if @main %>style="display:none;"<%end%>>
<%if !(@main) %>
<form action="/products/search" method="get" id="search_form" style="visibility: hidden;">
  <input type="hidden" name="country" id="country_hidden" value="0">
  <input type="hidden" name="marketing" id="marketing_hidden" value="1">
  <input type="hidden" name="platform" id="platform_hidden" value="1">
  <input type="hidden" name="cost_from" id="cost_from_hidden" value="0">




    <div class="container">
      <!-- 단버튼 -->
      <div class="btn-group country">
        <button type="button" class="btn dropdown-toggle country-btn"><span id="country_text_search">Country</span><span class="glyphicon glyphicon-chevron-down"></span>
        </button>
        <div class="country-down">
          <div class="title" id="country_0" onclick="country_select_search(0);">All</div>
          <ul class="country-down-content">
            <hr>
            <%Country.able_list.each do |country|%>
              <li id="country_<%=country.id%>" onclick="country_select_search(<%=country.id%>);"><%=country.name%></li>
            <%end%>
            <hr>
          </ul>
          <div class="other">
            Other Countries..
            <div class="other-tooltip">
              <img src="/assets/my_account/hover_pointer.svg">
              Countries are still adding whenever Publisher create service on particular country.
            </div>
          </div>
        </div>
      </div>
      <div class="btn-group marketing" style="z-index: 101;">
        <button type="button" class="btn dropdown-toggle marketing-btn"><span id="marketing_text">Marketing Type</span> <span class="glyphicon glyphicon-chevron-down"></span></button>
          <div class="marketing-down">

              <ul>
                <%Marketingtype.where(:filter => 1).each do |marketing1|%>
                  <%if marketing1.name == "All"%>
                    <li class="title" onclick="marketing_click_search(<%=marketing1.id%>);" id="marketing_li_search_<%=marketing1.id%>" data-marketing ="<%=marketing1.name%>">All</li><hr>
                  <%else%>
                    <li class="division" >
                    <span  id="marketing_li_search_<%=marketing1.id%>" data-marketing ="<%=marketing1.name%>" onclick="marketing_click_search(<%=marketing1.id%>);"><%=marketing1.name%></span>
                      <%if marketing1.child_types.count != 0%>
                        <div class="division-hover <%if marketing1.name == "AD"%>division-hover-plus<%end%> " style="min-height:162px;">
                          <ul>
                            <% marketing1.child_types.order(:index_number).each do |marketing2|%>
                              <%if marketing2.filter == 2%>
                                <ul>
                                  <li class="title" onclick="marketing_click_search(<%=marketing2.id%>);" data-marketing ="<%=marketing2.name%>" id="marketing_li_search_<%=marketing2.id%>" ><%=marketing2.name%></li>
                                  <%if marketing2.child_types.count != 0%>
                                    <%marketing2.child_types.order(:index_number).each do |marketing3|%>
                                      <%if marketing3.filter != 4%>
                                        <li onclick="marketing_click_search(<%=marketing3.id%>);"id="marketing_li_search_<%=marketing3.id%>"data-marketing ="<%=marketing3.name%>" ><%=marketing3.name%></li>
                                      <%end%>
                                    <%end%>
                                  <%end%>
                                </ul>
                              <%else%>
                                <li onclick="marketing_click_search(<%=marketing2.id%>);"id="marketing_li_search_<%=marketing2.id%>" data-marketing ="<%=marketing2.name%>"><%=marketing2.name%></li>
                            <%end%>
                          <%end%>
                        </ul>
                    </div>
                  <%end%>
                  </li>
                <%end%>
              <%end%>
            </ul>
        </div>
      </div>

      <div class="btn-group" style="margin-left: 2px;">
        <div class="cost">
          <input type="text" value="Cost" id="fake_cost">
          <div class="cost-hover">
            $ | <input type="text" name="cost_from" onkeyup="cost_key();" style="padding-left: 0;">to&nbsp;
            $ | <input type="text" name="cost_to" onkeyup="cost_key();" style="padding-left: 0;">
          </div>
        </div>         
      </div>
        <button type="button" class="btn nav-btn" onclick="$('#search_form').submit();">Jungggling<img src="/assets/main/search_logo.png"></button>
      </form>

    </div>
  <%end%>
</div>
<% if user_signed_in?%>
  <%current_user.usernotis.where(:is_deleted => false).each do |usernoti|%>
    <h5 <%if usernoti.notification.level == 0%> class="resend" <%else%>class="account-update"<%end%>><%=usernoti.content.html_safe%></h5>
  <%end%>
<%end%>


  <%#
    <h5 class="account-update">Your account has been updated.</h5>
  %>
  <%= yield %>
  <div class="footer">
    <div class="container">
      <p> Copyrights 2014 "Jungggle LTD". All rights reserved. </p>
      <div class="footer-right">
        <ul>
          <li><a href="/home/aboutus">About</a></li>
          <li><a href="/home/contact">Contact</a></li>
          <li><a href="/home/fees">Fees</a></li>
          <!--
          <li><a href="#none">How it works</a></li>
          <li><a href="#none">FAQ</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>-->
        </ul>
        <!--
        <div class="footer-sns">
          <a href="#none">
            <img src="/assets/main/facebook.png">
            <img src="/assets/main/twitter.png">
          </a>
        </div>-->

      </div>
    </div>
  </div>


  <script>

function country_select_search(id){

  $("#country_text_search").html($("#country_" + id).html());
  $("#country_hidden").val(id);
}
function marketing_click_search(id){
  $("#marketing_text").html($("#marketing_li_search_" + id).html());
  $("#marketing_hidden").val(id);

    if(id > 10 && id < 60){
      $(".platform").show();
    }else{
      $(".platform").hide();
    
    }

}
function platform_click_search(id){
  $("#platform_text").html($("#platform_" + id).html());
  $("#platform_hidden").val(id);
}
function cost_key(){
  $(".cost").css("border-color", "#5bb33a");
  $(".cost-hover").css("display", "block");
  $(".cost-hover").css("color", "#5bb33a");
  $("#empty").css("display", "block");

}

  </script>

  <script src="/assets/js/placeholder.js"></script>
<script>
    $(function(){

        $('input, textarea').placeholder();


        });
  
</script>
  <!-- Google Code for &#54924;&#50896;&#44032;&#51077; Conversion Page -->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 954523332;
  var google_conversion_language = "ko";
  var google_conversion_format = "2";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "9T8UCLjRoVgQxL2TxwM";
  var google_remarketing_only = false;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>

<script>

$(document).ready(function(){
    $(function(){
        height_match();
      });
          
    });

function height_match(){
  $("#left").css("height", "");
  $(".right-height").css("height", "");
  if ($("#left").outerHeight() < $(".right-height").outerHeight()){
            $("#left").outerHeight($(".right-height").outerHeight());
      }
        else{
            $(".right-height").outerHeight($("#left").outerHeight());
      }
}
</script>


</body>
</html>
