<!DOCTYPE html>
<html>
<head>
  <title>Jungggle</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
<!-- Start of Woopra Code -->
<script>
(function(){
    var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call","trackForm","trackClick"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
})("woopra");

woopra.config({
    domain: "jungggle.com"
});
woopra.track();
</script>
<!-- End of Woopra Code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56375777-1', 'auto');
  ga('send', 'pageview');

</script>

<%= javascript_include_tag 'application'%>
<script>
  $('input, textarea').placeholder();
</script>


  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="container">
      <a href="/home/main" class="logo"><img src="/assets/main/header-logo.png"<%if @main%>style="opacity:0;"<%end%>></a>
      <div class="header-search">
        <span class="glyphicon glyphicon-search"></span>
        <input type="search" placeholder="Search Company" autofocus autocomplete="off" id="search_title" onchange="search_auto_func();" onkeyup="search_auto_func();" name="search_title" >
        <div class="search-drop search-company-name-drop" style="display:none;">
          <%Company.all.each do |company|%>
            <%company.comlangs.each do |comlang|%>
              <a href="/products/search_company/<%=company.id%>">
                <div class="search-company search_auto_div" data-company="<%=comlang.name%>">
                  <img src="<%=company.logo.url(:thumb)%>"><h5><%=comlang.name%></h5>
                </div>
              </a>
            <%end%>
          <%end%>
        </div>
      </div>

      <script>
function search_auto_func(){
  if ($('#search_title').val() != ""){
          $(".search-company-name-drop").show();
          $(".search_auto_div").hide();
            var auto_count = 0
          $(".search_auto_div").each(function(){
            if ($(this).data("company").toLowerCase().indexOf($('#search_title').val().toLowerCase()) != -1 )
            {
                auto_count = auto_count + 1;
                $(this).show();             
                }
            
                });
            if (auto_count == 0){
              $(".search_auto_div").hide();
            }
          }else{
          $(".search_auto_div").hide();
          $(".search-company-name-drop").hide();
          
          }

}


      </script>



      <div class="header-right">
        <ul>
          <!-- <li><a href="#none">Biddings</a></li>-->
          <li><a href="/home/ready_search_detail">Product Results</a></li>
          
          <%if !(user_signed_in?)%>
            <li><a href="/users/sign_in" class="login-btn">Log in</a></li>
            <li><a href="/users/sign_up" class="signup-btn">Sign up</a></li>
          <%end%>
        </ul>
        <div class="log-name"><%if current_user != nil%><a href="/users/edit"><img src="<%if current_user.avatar_file_name == nil%><%fb_identity = current_user.identities.where(:provider => "facebook").first%><%if fb_identity != nil%>https://graph.facebook.com/v2.1/<%=fb_identity.uid%>/picture?type=square<%else%>/assets/main/log-img.png<%end%><%else%><%=current_user.avatar.url(:thumb)%><%end%>"> <%=current_user.first_name%> <%=current_user.last_name%> <img src="/assets/main/header-content.png" class="contents"></a><%end%>
          <div class="log-info-hover">
            <div class="log-info-account">
              <h5>My Account</h5>
              <a href="/users/edit">Profile</a>
              <a href="/users/company">Company Profile</a>
              <a href="/users/company_members">Member</a>
              <a href="/users/ready_dashboard">Upgrade</a>
            </div>
            <div class="log-info-adv">
              <h5>Advertiser</h5>
              <a href="/home/ready_dashboard">Dashboard</a><br>
              <a href="/home/ready_billing">Billing</a><br>
            </div>
            <div class="log-info-pub">
              <h5>Service Provider</h5>
              <a href="/home/ready_project">Projects</a><br>
              <a href="/home/account_manage_service">Manage Service</a><br>
              <a href="/publishers/create">Create Service</a><br>
              <a href="/home/">Cash out</a>
            </div>
            <div class="log-info-footer">
              <a href="/users/sign_out">Log out</a>
              <!--<p><span>3 ietms</span> on your cart<img src="/assets/cart.png"></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="nav" <%if @main %>style="display:none;"<%end%>>
<%if !(@main) %>
<form action="/products/search" method="post" id="search_form">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="country" id="country_hidden" value="0">
  <input type="hidden" name="marketing" id="marketing_hidden" value="1">
  <input type="hidden" name="platform" id="platform_hidden" value="1">
  <input type="hidden" name="cost_from" id="cost_from_hidden" value="0">




    <div class="container">
      <!-- 단버튼 -->
      <div class="btn-group country">
        <button type="button" class="btn dropdown-toggle"><span id="country_text">Country</span><span class="caret"></span>
        </button>
        <div class="country-down">

          <ul>
            <li class="title" id="country_0" onclick="country_select(0);">All</li><hr>
            <%Country.able_list.each do |country|%>
              <li id="country_<%=country.id%>" onclick="country_select(<%=country.id%>);"><%=country.name%></li>
            <%end%>
            <hr>
            <li class="title other">
              Other Countries..
              <div class="other-tooltip">
                Countries are still adding whenever Publisher create service on particular country.
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="btn-group marketing">
        <button type="button" class="btn dropdown-toggle"><span id="marketing_text">Marketing type</span> <span class="caret"></span></button>
          <div class="marketing-down">

              <ul>
                <%Marketingtype.where(:filter => 1).each do |marketing1|%>
                  <%if marketing1.name == "All"%>
                    <li class="title" onclick="marketing_click(<%=marketing1.id%>);" id="marketing_li_<%=marketing1.id%>" data-marketing ="<%=marketing1.name%>">All</li><hr>
                  <%else%>
                    <li class="division" >
                    <span  id="marketing_li_<%=marketing1.id%>" data-marketing ="<%=marketing1.name%>" onclick="marketing_click(<%=marketing1.id%>);"><%=marketing1.name%></span>
                      <%if marketing1.child_types.count != 0%>
                        <div class="division-hover" style="min-height:230px;">
                          <ul>
                            <% marketing1.child_types.each do |marketing2|%>
                              <%if marketing2.filter == 2%>
                                <ul>
                                  <li class="title" onclick="marketing_click(<%=marketing2.id%>);" data-marketing ="<%=marketing2.name%>" id="marketing_li_<%=marketing2.id%>" ><%=marketing2.name%></li>
                                  <%if marketing2.child_types.count != 0%>
                                    <%marketing2.child_types.each do |marketing3|%>
                                      <%if marketing3.filter != 4%>
                                        <li onclick="marketing_click(<%=marketing3.id%>);"id="marketing_li_<%=marketing3.id%>"data-marketing ="<%=marketing3.name%>" ><%=marketing3.name%></li>
                                      <%end%>
                                    <%end%>
                                  <%end%>
                                </ul>
                              <%else%>
                                <li onclick="marketing_click(<%=marketing2.id%>);"id="marketing_li_<%=marketing2.id%>" data-marketing ="<%=marketing2.name%>"><%=marketing2.name%></li>
                            <%end%>
                          <%end%>
                        </ul>
                    </div>
                  <%end%>
                  </li>
                <%end%>
              <%end%>
            </ul>
        </div>
      </div>

      <div class="btn-group">
        <div class="cost">
          <input type="text" placeholder="Cost" id="fake_cost">
          <div class="cost-hover">
            $ | <input type="text" name="cost_from" onkeyup="cost_key();">to&nbsp;
            $ | <input type="text" name="cost_to" onkeyup="cost_key();">
          </div>
        </div>         
      </div>
        <button type="button" class="btn nav-btn" onclick="$('#search_form').submit();">Jungggling<img src="/assets/main/search_logo.png"></button>
      </form>

    </div>
  <%end%>
  </div>

  <%if user_signed_in? && current_user.email_confirmed && current_user.confirmed_at == nil%>
    <h5 class="resend">Please confirm your email address, a confirmation message was sent to <%=current_user.email%> <span class="underline">Resend confrimation</span></h5>
  <%end%>
  <%#
    <h5 class="account-update">Your account has been updated.</h5>
  %>
  <%= yield %>
  <div class="footer">
    <div class="container">
      <p> Copyrights 2014 "Jungggle LTD". All rights reserved. </p>
      <div class="footer-right">
        <ul>
          <li><a href="/home/aboutus">About</a></li>
          <li><a href="#none">How it works</a></li>
          <li><a href="#none">FAQ</a></li>
          <li><a href="/home/contact">Contact</a></li>
          <li><a href="/home/fees">Fees</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
        <div class="footer-sns">
          <a href="#none">
            <img src="/assets/main/facebook.png">
            <img src="/assets/main/twitter.png">
          </a>
        </div>
      </div>
    </div>
  </div>

  <script>

function country_select(id){

  $("#country_text").html($("#country_" + id).html());
  $("#country_hidden").val(id);
}
function marketing_click(id){
  $("#marketing_text").html($("#marketing_li_" + id).html());
  $("#marketing_hidden").val(id);

    if(id > 10 && id < 60){
      $(".platform").show();
    }else{
      $(".platform").hide();
    
    }

}
function platform_click(id){
  $("#platform_text").html($("#platform_" + id).html());
  $("#platform_hidden").val(id);
}
function cost_key(){
  $(".cost").css("border-color", "#5bb33a");
  $(".cost-hover").css("display", "block");
  $(".cost-hover").css("color", "#5bb33a");
  $("#empty").css("display", "block");

}

  </script>


</body>
</html>
