<!-- account.css.scss -->

<div class="account">
  <div class="container">
    <div class="dashbaord">
      <div class="img">
        <img src="/assets/my_account/dashboard.png">
      </div>
      <h1 class="right-title"><img src="/assets/my_account/right-profile.png">Profile</h1>
    </div>
    <%= render "/home/left"%>

    <div class="right-profile" id="right">
      <div style="display:none">
        <form accept-charset="UTF-8" <%if current_user.confirmed_at != nil%> action="/users" <%end%> class="edit_user" id="edit_user" method="post" enctype="multipart/form-data">
          <input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" />
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      </div>
  
      <%= devise_error_messages! %>
      <input type="text" name="first_name" placeholder="James" class="short-form" value="<%=@user.first_name%>" required <%if current_user.confirmed_at == nil %>disabled<%end%>>
      <input type="text" placeholder="Lim" name="last_name" class="short-form" value= "<%=@user.last_name%>" required <%if current_user.confirmed_at == nil %>disabled<%end%> >
      <input type="email"name="user[email]" value="<%=@user.email%>" class="long-form" required  <%if current_user.confirmed_at == nil %>disabled<%end%> >
      <input type="password" name="user[password_confirmation]" placeholder="New Password" class="long-form" <%if current_user.confirmed_at == nil %>disabled<%end%> >
      <input type="password" name="user[password]" placeholder="Password Confirmation" class="long-form"  <%if current_user.confirmed_at == nil %>disabled<%end%> >
      <input type="password" name="user[current_password]" placeholder="Current Password" class="long-form" required  <%if current_user.confirmed_at == nil %>disabled<%end%> >

        <div class="upload">
          <input type="file" name="user[avatar]" placeholder="load" <%if current_user.confirmed_at == nil %>disabled<%end%>  >
        </div>
      <p class="upload-info">Max size of 1MB</p>
      <!-- 버튼 안보이게 해뒀음 -->
      <br>
      <div class="avatar-btn btn-default">+ Profile Upload</div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="user[news_mailing]" <%if current_user.news_mailing%>checked="true"<%end%>  <%if current_user.confirmed_at == nil %>disabled<%end%> >
          <p>Receive general news (Featured projects, events) from us</p>
        </label>
      </div>
      <%#<div class="checkbox">
        <label>
          <input type="checkbox">
          <p><span>(Publisher)</span> Receive notice when the new biddings pop for your interested country and marketing type</p>
        </label>
        </div>%>
      <%if current_user.confirmed_at != nil %>

        <button type="submit" class="btn btn-default">Save</button>
      <%else%>
        <p>Please confirm your email address, a confirm mail was sent to <%=current_user.email%></p>
      <%end%>
      </form>
    </div>
  </div>
</div>
<!-- Save Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <p>Your account has been updated</p>
      <button type="button" class="btn btn-default">Thank's</button>
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->
<style>
  #error_explanation {
    color: #BD2F2F;
  }
</style>




<script>
  $("#left").css("height", $("#right").css("height"));
</script>


