<div class="signup login">
  <img src="/assets/main/log.png" class="title-logo">
  <h1>Sign Up to continue!</h1>
  <div class="sns-login-area">
    <a href="<%=user_omniauth_authorize_path(:linkedin)%>"><div class="sns-login linkedin"><img src="/assets/main/log_linkedin.png">Sign up with Linkedin</div></a>
    <a href="<%=user_omniauth_authorize_path(:facebook)%>"><div class="sns-login facebook"><img src="/assets/main/log_facebook.png">Sign up with Facebook</div></a>
  </div>
  <h3>or</h3>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <input class="firstname" placeholder="First name" name="user[first_name]">
    <input placeholder="Last name" name="user[last_name]">

    <div>
    <%= f.email_field :email, autofocus: true, placeholder: "Email" %></div>

    <div>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password(최소6자)" %></div>

    <div>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation" %></div>

    <div class="sign-btn"><%= f.submit "Sign up" %></div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
