<!-- log.css.scss -->

<div class="signup login">
  <a href="/"><img src="/assets/logo-01.png" class="title-logo"></a>
  <h1>Sign Up to Continue!</h1>
  <div class="sns-login-area">
    <a href="<%=user_omniauth_authorize_path(:linkedin)%>"><div class="sns-login linkedin"><img src="/assets/main/log_linkedin.png">Sign up with Linkedin</div></a>
    <a href="<%=user_omniauth_authorize_path(:facebook)%>"><div class="sns-login facebook"><img src="/assets/main/log_facebook.png">Sign up with Facebook</div></a>
  </div>
  <h3>or</h3>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <input class="firstname" placeholder="First name" name="user[first_name]" required>
    <input placeholder="Last name" name="user[last_name]" required>

    <div>
    <%= f.email_field :email, autofocus: true, placeholder: "Email", required: true %></div>

    <div>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password(최소6자)", required: true %></div>

    <div>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password", required: true%></div>

    <div class="sign-btn"><%= f.submit "Sign Up" %></div>
  <% end %>

  <a href="/users/sign_in" class="login-go"><h5>Already have an account? Login here</h5></a>

</div>
<style>
  #error_explanation {
    color: #BD2F2F;
  }
</style>
